@model ProductDetailsModel

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");

    var carouselImageFirst = 0;
}

<div class="list-images-product-detail-version-mobile carousel-product-detail-area-mobile">
    @if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 0)
    {
        <img class="d-block w-100 img-db" src="@Model.DefaultPictureModel.ImageUrl" alt="@Model.DefaultPictureModel.AlternateText" title="@Model.DefaultPictureModel.Title" />
        <div class="dots-list-images-product-detail-version-mobile">
            <span class="dot-db"></span>
        </div>
    }
    else
    {
        foreach (var picture in Model.PictureModels)
        {
            if (carouselImageFirst == 0)
            {
                <img class="d-block w-100 img-db" id="image_product_detail_version_mobile_@carouselImageFirst" src="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
            }
            else
            {
                <img class="d-block w-100 img-dn" id="image_product_detail_version_mobile_@carouselImageFirst" src="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />

            }
            carouselImageFirst++;
        }
    }

    @{
        var imageTotal = carouselImageFirst;
        carouselImageFirst = 0;
    }
    <div class="dots-list-images-product-detail-version-mobile">
        @foreach (var picture in Model.PictureModels)
        {
            if (carouselImageFirst == 0)
            {
                <span class="dot-db" id="dot_image_product_detail_version_mobile_@carouselImageFirst" onclick="changeImage(@carouselImageFirst, @imageTotal); return false;"></span>
            }
            else
            {
                <span class="dot-dn" id="dot_image_product_detail_version_mobile_@carouselImageFirst" onclick="changeImage(@carouselImageFirst, @imageTotal); return false;"></span>
            }
            carouselImageFirst++;
        }
    </div>
</div>
<script>
    function changeImage(id, imageTotal) {

        for (var i = 0; i < imageTotal; i++) {
            if (i == id) {
                $("#dot_image_product_detail_version_mobile_" + i).removeClass("dot-dn");
                $("#dot_image_product_detail_version_mobile_" + i).addClass("dot-db");
            } else {
                $("#dot_image_product_detail_version_mobile_" + i).removeClass("dot-db");
                $("#dot_image_product_detail_version_mobile_" + i).addClass("dot-dn");
            }
        }


        for (var i = 0; i < imageTotal; i++) {
            if (i == id) {
                $("#image_product_detail_version_mobile_" + i).removeClass("img-dn");
                $("#image_product_detail_version_mobile_" + i).addClass("img-db");
            } else {
                $("#image_product_detail_version_mobile_" + i).removeClass("img-db");
                $("#image_product_detail_version_mobile_" + i).addClass("img-dn");
            }
        }
    }
</script>
<style>
    .list-images-product-detail-version-mobile .img-db{
        display: block !important;
    }

    .list-images-product-detail-version-mobile .img-dn{
        display: none !important;
    }

    .dots-list-images-product-detail-version-mobile span {
        box-sizing: content-box;
        width: 20px;
        height: 20px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-clip: padding-box;
        transition: opacity .6s ease;
        position: relative;
        display: inline-block;
        border: 1px solid #455a64;
        border-radius: 10px;
        margin-top: 25px;
    }

    .dot-db {
        background-color: #455a64;
    }

    .dot-dn {
        background-color: #fff;
    }

</style>
@*

<div id="carouselExampleIndicators" class="carousel slide carousel-product-detail-area-mobile" data-ride="carousel">
    
    <ol class="carousel-indicators">
        @foreach (var picture in Model.PictureModels)
        {
            if (carouselImageFirst == 0)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@carouselImageFirst" class="active"></li>

                carouselImageFirst++;
            }
            else
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@carouselImageFirst"></li>
            }

        }
    </ol>
    
    @{ carouselImageFirst = 0;}
    
    <div class="carousel-inner">
        @foreach (var picture in Model.PictureModels)
        {
            if (carouselImageFirst == 0)
            {
                <div class="carousel-item active">
                    <img class="d-block w-100" src="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                </div>

                carouselImageFirst++;
            }
            else
            {
                <div class="carousel-item">
                    <img class="d-block w-100" src="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                </div>
            }

        }
    </div>
    

</div>
*@
    
<style>
    .carousel-product-detail-area-mobile .carousel-control-prev {
        display: none !important;
    }

    .carousel-product-detail-area-mobile .carousel-control-next {
        display: none !important;
    }
</style>
<script>
</script>
<div class="carousel-product-detail-area-desktop">
    
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
    <div class="PrincipalImg">
        @*@if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
            {*@
        <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" style="max-width: 70%;" />
        </a>
        <script asp-location="Footer">
                 $(document).ready(function () {
                     $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup({ type: 'image' });
                });
        </script>
        @*}
            else
            {
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
            }*@
    </div>
    @if (Model.PictureModels.Count > 1 && Model.DefaultPictureZoomEnabled)
    {
<div id="wrapper">
    <div id="carousel">
        <div id="content">

            <div class="picture-thumbs">

                <div class="marquee">
                    <ul class="marquee-content">
                        @foreach (var picture in Model.PictureModels)
                        {
                            <li>

                                <a class="thumb-item">
                                    <img class="lazyOwl item" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                                </a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @*<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
            </svg>
        </a>
        @if (Model.PictureModels.Count > 3)
        {
            <a id="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
                </svg>
            </a> }*@
    
</div>


        <script asp-location="Footer">
            $(document).ready(function() {
                $('.picture').magnificPopup(
                     {
                        type: 'image',
                        delegate: 'a',
                        removalDelay: 300,
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0, 1],
                            tPrev: '@T("Media.MagnificPopup.Previous")',
                            tNext: '@T("Media.MagnificPopup.Next")',
                            tCounter: '@T("Media.MagnificPopup.Counter")'
                        },
                        tClose: '@T("Media.MagnificPopup.Close")',
                        tLoading: '@T("Media.MagnificPopup.Loading")'
                     });
                });
        </script>
        <script asp-location="Footer">
                $(document).ready(function() {
                    $('.thumb-item > img').on('click',
                        function() {
                            $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                            $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                            $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                        });
                });
        </script>
    }
    else
    {
        if (Model.PictureModels.Count > 1)
        {
            if (Model.PictureModels.Count <= 3)
            {
                <div class="picture-thumbs">
                    @foreach (var picture in Model.PictureModels)
                    {
                        <a class="thumb-popup-link thumb-item">
                            <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                        </a>
                    }
                </div>
            }
            else
            {



                @foreach (var picture in Model.PictureModels)
                {
                    <a class="thumb-item" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">

                        <img class="lazyOwl item" data-src="@picture.ThumbImageUrl" src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </a>
                }



                @*<div class="picture-thumbs product-slider" id="product-slider">*@

            }
            <script asp-location="Footer">
    $(document).ready(function () {
        $('.thumb-item img').on('click', function () {
            $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
            $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
            $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
            $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
            $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
        });
    });
            </script>
        }
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
</div>

<script>
    const root = document.documentElement;
    const marqueeElementsDisplayed = getComputedStyle(root).getPropertyValue("--marquee-elements-displayed");
    const marqueeContent = document.querySelector("ul.marquee-content");

    if (@Model.PictureModels.Count > 4) {

        root.style.setProperty("--marquee-elements", marqueeContent.children.length);

       for (let i = 0; i < marqueeElementsDisplayed; i++) {
           marqueeContent.appendChild(marqueeContent.children[i].cloneNode(true));
        }
    }
</script>
