@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}

<style>
.field-validation-error{
    text-align: left;
}
</style>
<div class="page password-recovery-page">
    <div class="page-title title-general-version-mobile">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @*
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        *@
        @if (Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>

                <div class="row">
                    <div class="col-12 col-lg-3"></div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label asp-for="NewPassword" asp-postfix=":"></label>
                            <nop-required />
                            <input id="password" asp-for="NewPassword" class="form-control" />

                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                            <nop-required />
                            <input id="confirmpassword" asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                        <div class="buttons recovery-btns-version-mobile">
                            <input type="submit" name="set-password" class="btn-change-pass-mobile button-1 new-password-button recovery-btn-version-mobile" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                        </div>
                    </div>
                    <div class="col-12 col-lg-3"></div>
                </div>
                @*
                <div class="fieldset">
                    <div class="row form-fields">
                        <div class="col-12 col-md-7">
                            <i class="nn- nn-eye field-icon-login-password password" style="position: absolute;top: 31px;z-index: 100;right: 30%;"></i>
                            <div class="inputs recovery-page-version-mobile">
                                <label asp-for="NewPassword" asp-postfix=":"></label>
                                <input id="password" asp-for="NewPassword" />
                                <nop-required />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-fields ">
                        <div class="col-12 col-md-7">
                            <i class="nn- nn-eye field-icon-login-password confirmpassword" style="position: absolute;top: 31px;z-index: 100;right: 30%;"></i>
                            <div class="inputs recovery-page-version-mobile">
                                <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                                <input id="confirmpassword" asp-for="ConfirmNewPassword" />
                                <nop-required />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons recovery-btns-version-mobile">
                    <input type="submit" name="set-password" class="button-1 new-password-button recovery-btn-version-mobile" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
                *@
            </form>
        }
    </div>
</div>
<style>
    .btn-change-pass-mobile {
        width: 100% !important;
        border: none;
        background-color: #4ab2f1;
        padding: 10px 30px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-transform: capitalize;
        box-sizing: border-box;
        border-radius: 4px;
    }


    @@media (max-width: 800px){
        .password-recovery-page div form .buttons {
            padding: 0px 0px !important;
        }
    }


</style>

<script>
    $(".password").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#password");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(".confirmpassword").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#confirmpassword");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>