@model CustomerOrderListModel
@{

    @foreach (var order in Model.InvoiceList)
    {
        <div class="row orders-version-desktop colorGeneralBackgroundGray order-zone-desktop">
            <div class="col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        @if (order.Invoice.PaymentStatusId == 30)
                        {
                            <div>
                                <form asp-route="OrderDetails" method="post">
                                    <input type="submit" name="repost-payment-standard" value="@T("Order.Paid")" class="btn btn-success btn-info-order-status" style="cursor: pointer !important;" />
                                </form>
                            </div>
                        }
                        else
                        {
                            @if (order.Invoice.PaymentStatusId == 60)
                            {
                                <div>
                                    <form asp-route="OrderDetails" method="post">

                                        <input type="submit" name="repost-payment-standard" value="@T("Order.PartialPaid")" class="btn btn-warning btn-info-order-status" style="cursor: pointer !important;" />
                                    </form>
                                </div>
                            }

                            else
                            {
                                if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 0)
                                {
                                    // RemainingBalance = order.Invoice.Total;
                                }
                                else
                                {

                                    if (order.Invoice.AmountDue > 0 && order.Invoice.AmountDue < order.Invoice.Total)
                                    {
                                        <div>
                                            <form asp-route="OrderDetails" method="post">

                                                <input type="submit" name="repost-payment-standard" value="@T("Order.PartialPaid")" class="btn btn-warning btn-info-order-status" style="cursor: pointer !important;" />
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <form asp-route="OrderDetails" method="post">

                                                <input type="submit" name="repost-payment-standard" value="@T("Order.NotPaid")" class="btn btn-danger btn-info-order-status" style="cursor: pointer !important;" />
                                            </form>
                                        </div>
                                    }
                                }

                            }
                        }
                        @if (order.Invoice.PaymentStatusId != 0)
                        {
                            @if (order.Invoice.StatusPaymentNP)
                            {
                                @*<div>
                    <span>@T("Order.ApprovedbyNN")</span>
                </div>*@
                            }
                            else
                            {
                                <div>
                                    <span>@T("Order.PendingForApprovalNNAdmin")</span>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        @{
                            var colorText = "style=color:#f00";
                        }
                        @if (order.Invoice.PaymentStatusId == 30)
                        {
                            colorText = "style=color:#28a745";
                        }
                    </div>

                    @{
                        decimal RemainingBalance = order.Invoice.Total;
                        if (order.Invoice.AmountDue != 0)
                        {
                            RemainingBalance = order.Invoice.AmountDue;
                        }
                        else
                        {
                            if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 0)
                            {
                                RemainingBalance = order.Invoice.Total;
                            }
                            if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 30)
                            {
                                RemainingBalance = order.Invoice.AmountDue;
                            }
                        }
                    }
                    @if (RemainingBalance == 0)
                    {


                        <div class="col-lg-12">
                            <span @colorText>@T("order.RemainingBalance"): <b class="text-Lato" id="RemainingBalance_@order.Invoice.Id">$@RemainingBalance</b></span>
                        </div>
                        <div class="col-lg-12">
                            <span @colorText>@T("order.DateDue"): <b class="text-Lato">@order.Invoice.duedate.ToString("D")</b></span>
                        </div>
                        <script>
                            var value = @RemainingBalance;
                            var formattedValue = parseFloat(value).toFixed(2);
                            document.getElementById("RemainingBalance_@order.Invoice.Id").innerHTML = "$" +formattedValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        </script>
                    }
                    else
                    {
                        @*@if (order.Invoice.foreigntotal == order.Invoice.AmountDue)
            {
                <div class="col-lg-12">
                    <span style=color:#28a745>@T("order.RemainingBalance"): <b>$@order.Invoice.AmountDue</b></span>
                </div>
                <div class="col-lg-12">
                    <span @colorText>@T("order.DateDue"): <b>@order.Invoice.duedate.ToString("D")</b></span>
                </div>
            }
            else
            {*@
                        if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 0)
                        {
                            <div class="col-lg-12">
                                <span @colorText>@T("order.RemainingBalance"): <b class="text-Lato" id="OrderTotalInv_@order.Invoice.Id">$@order.Invoice.Total</b></span>
                            </div>
                            <div class="col-lg-12">
                                <span @colorText>@T("order.DateDue"): <b class="text-Lato">@order.Invoice.duedate.ToString("D")</b></span>
                            </div>

                            <script>
                            var value = @order.Invoice.Total;
                            var formattedValue = parseFloat(value).toFixed(2);
                                document.getElementById("OrderTotalInv_@order.Invoice.Id").innerHTML = "$" +formattedValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            </script>
                        }
                        else
                        {
                            //var PendingPay = order.Invoice.AmountDue;
                            <div class="col-lg-12">
                                <span @colorText>@T("order.RemainingBalance"): <b class="text-Lato" id="RemainingBalance_@order.Invoice.Id">$@RemainingBalance</b></span>
                            </div>
                            <div class="col-lg-12">
                                <span @colorText>@T("order.DateDue"): <b class="text-Lato">@order.Invoice.duedate.ToString("D")</b></span>
                            </div>

                            <script>
                                var value = @RemainingBalance;
                                var formattedValue = parseFloat(value).toFixed(2);
                                document.getElementById("RemainingBalance_@order.Invoice.Id").innerHTML = "$"+formattedValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            </script>
                        }

                        @*}*@
                    }
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <span>Invoice Date: <b class="text-Lato">@order.Invoice.CreatedDate.ToString("D")</b></span>
                    </div>
                    @if (order.OrderDetail?.Items.Count() > 0)
                    {
                        <div class="col-lg-12">
                            <span>@T("order.Totalproducts"): <b class="text-Lato">@order.OrderDetail?.Items.Count()</b></span>
                        </div>
                    }
                    <div class="col-lg-12">
                        <span>@T("order.Total"): <b class="text-Lato" id="OrderTotalInvEnd_@order.Invoice.Id">$@order.Invoice.Total</b></span>
                    </div>

                    <script>
                            var value = @order.Invoice.Total;
                            var formattedValue = parseFloat(value).toFixed(2);
                             document.getElementById("OrderTotalInvEnd_@order.Invoice.Id").innerHTML = "$" +formattedValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    </script>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="row">
                    <div class="col-lg-12">
                        <span>@order.Company.CompanyName</span>
                    </div>
                    <div class="col-lg-12">
                        <span>
                            <b>
                                @if (!string.IsNullOrEmpty(order.Invoice.InvoiceNo))
                                {

                                    <span  class="text-Lato">
                                        @order.Invoice.InvoiceNo
                                    </span>
                                    @if (order.OrderDetail != null)
                                    {
                                        <span class="text-Lato">  (#@order.OrderDetail.Id)</span>
                                    }
                                }
                                else
                                {
                                    @T("Order.OrderId")
                                    <span> (#@*@order.Id*@)</span>
                                }

                            </b>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
    @foreach (var order in Model.InvoiceList)
    {
        bool haveOrder = false;
        string classFirst = "first";
        <div class="orders-version-mobile-table">
            @if (order.OrderDetail != null)
            {
                <div class="row">
                    <div class="col-12 first">
                        <div><b>Order</b></div>
                        <div>
                            @if (order.OrderDetail != null)
                            {
                                haveOrder = true;
                                <span>  (#@order.OrderDetail.Id)</span>
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </div>
                    </div>
                </div>
            }
            @{
                if ((haveOrder == true))
                {
                    classFirst = "bggray";
                }
            }
            <div class="row">
                <div class="col-12 @classFirst">
                    <!--<div><b>NS Num </b></div>-->
                    <div>
                        @if (!string.IsNullOrEmpty(order.Invoice.InvoiceNo))
                        {
                            <b>@order.Company.CompanyName - </b>
                            <span>
                                @order.Invoice.InvoiceNo
                            </span>
                        }
                        else
                        {
                            @T("Order.OrderId")
                        }
                    </div>
                </div>
            </div>
            @{
                var colorText = "style=color:#f00";
            }

            @if (order.Invoice.PaymentStatusId == 30)
            {
                colorText = "style=color:#28a745";
            }

            @{
                decimal RemainingBalance = order.Invoice.Total;
                if (order.Invoice.AmountDue != 0)
                {
                    RemainingBalance = order.Invoice.AmountDue;
                }
                else
                {
                    if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 0)
                    {
                        RemainingBalance = order.Invoice.Total;
                    }
                    if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 30)
                    {
                        RemainingBalance = order.Invoice.AmountDue;
                    }
                }
            }

            @if (RemainingBalance == 0)
            {
                <div class="row">
                    <div class="col-6 item">
                        <div><b><span style=color:#28a745>@T("order.RemainingBalance"):</span></b></div>
                        <div @colorText><b  class="text-Lato">$@RemainingBalance.ToString("N2")</b></div>
                    </div>
                    <div class="col-6 item left">
                        <div><b><span>@T("order.DateDue"):</span></b></div>
                        <div><b  class="text-Lato">@order.Invoice.duedate.ToString("D")</b></div>
                    </div>
                </div>
            }
            else
            {
                if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 0)
                {
                    <div class="row">
                        <div class="col-6 item">
                            <div><b><span @colorText>@T("order.RemainingBalance"):</span></b></div>
                            <div @colorText><b class="text-Lato">$@order.Invoice.Total</b></div>
                        </div>
                        <div class="col-6 item left">
                            <div><b><span>@T("order.DateDue"): </span></b></div>
                            <div><b class="text-Lato">@order.Invoice.duedate.ToString("D")</b></div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-6 item">
                            <div><b><span @colorText>@T("order.RemainingBalance"):</span></b></div>
                            <div @colorText><b class="text-Lato">$@RemainingBalance</b></div>
                        </div>
                        <div class="col-6 item left">
                            <div><b><span>@T("order.DateDue"): </span></b></div>
                            <div><b class="text-Lato">@order.Invoice.duedate.ToString("D")</b></div>
                        </div>
                    </div>
                }
            }

            <div class="row">
                <div class="col-12 item">
                    <div><b>@T("order.Total"):</b></div>
                    <div class="order-price">
                        <span @colorText><b class="text-Lato"> $@order.Invoice.Total</b></span>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (order.Invoice.PaymentStatusId == 30)
                {
                    <div class="col-12 zone_btn" style="padding-bottom: 0px !important;">
                        <div>
                            <div class="order-status">
                                <form asp-route="OrderDetails" method="post">
                                    <input type="submit" name="repost-payment-standard" value="@T("Order.Paid")" class="btn btn-success" style="cursor: pointer !important;" />
                                </form>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @if (order.Invoice.PaymentStatusId == 60)
                    {
                        <div class="col-12 zone_btn">
                            <div>
                                <div class="order-status">
                                    <form asp-route="OrderDetails" method="post">
                                        <input type="submit" name="repost-payment-standard" value="@T("Order.PartialPaid")" class="btn btn-warning" style="cursor: pointer !important;" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (order.Invoice.AmountDue == 0 && order.Invoice.PaymentStatusId == 0)
                        {
                            // RemainingBalance = order.Invoice.Total;
                        }
                        else
                        {

                            if (order.Invoice.AmountDue > 0 && order.Invoice.AmountDue < order.Invoice.Total)
                            {
                                <div class="col-12 zone_btn">
                                    <div>
                                        <div class="order-status">
                                            <form asp-route="OrderDetails" method="post">
                                                <input type="submit" name="repost-payment-standard" value="@T("Order.PartialPaid")" class="btn btn-warning" style="cursor: pointer !important;" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 zone_btn">
                                    <div>
                                        <div class="order-status">
                                            <form asp-route="OrderDetails" method="post">
                                                <input type="submit" name="repost-payment-standard" value="@T("Order.NotPaid")" class="btn btn-danger" style="cursor: pointer !important;" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    }
                }
                @if (order.Invoice.PaymentStatusId != 0)
                {
                    @if (order.Invoice.StatusPaymentNP)
                    {
                        @*<div class="col-12 zone_btn">
                    <div>
                        <div class="order-status" style="text-align: center;">
                            <span>@T("Order.ApprovedbyNN")</span>
                        </div>
                    </div>
                </div>*@
                    }
                    else
                    {
                        <div class="col-12 zone_btn" style="padding-top: 0px !important;">
                            <div>
                                <div class="order-status" style="text-align: center;">
                                    <span>@T("Order.PendingForApprovalNNAdmin")</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }

}

<style>
    .btn-info-order-status {
        pointer-events: none;
    }

    .bggray {
        background-color: #eee !important;
        text-align: left;
        padding-left: 8px;
    }
</style>