@model CheckoutConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-confirm-page");
    decimal orderTotal = 0;
    decimal orderTotalDiscount = 0;
    decimal orderTotalInv = 0;
}
<div class="page checkout-page order-confirm-page">

    <div class="page-title">
        <h1>@T("Checkout.ConfirmYourOrderPay")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutConfirmTop })
        <div class="section confirm-order">
            <form asp-route="InvoiceListToPayConfirm" method="post" id="confirm-order-form">
                <script asp-location="Footer">
                    $(document).ready(function () {
                        $('.confirm-order-next-step-button').on('click', function () {
                            //terms of service
                            var termOfServiceOk = true;
                            if ($('#termsofservice').length > 0) {
                                //terms of service element exists
                                if (!$('#termsofservice').is(':checked')) {
                                    $("#terms-of-service-warning-box").dialog();
                                    termOfServiceOk = false;
                                } else {
                                    termOfServiceOk = true;
                                }
                            }
                            if (termOfServiceOk) {
                                //$('#confirm-order-form').submit();
                                //$('.confirm-order-next-step-button').prop('disabled', true);
                                return true;
                            } else {
                                return false;
                            }
                        });
                    });
                </script>
                @if (Model.TermsOfServiceOnOrderConfirmPage)
                {
                    <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                        <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                    </div>
                    <div class="terms-of-service">
                        <input id="termsofservice" type="checkbox" name="termsofservice" />
                        <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                        @if (Model.TermsOfServicePopup)
                        {
                            <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                            <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-terms').on('click',
                                            function(e) {
                                                e.preventDefault();
                                                displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', '@T("Checkout.TermsOfService")');
                                            });
                                    });
                            </script>
                        }
                        else
                        {
                            <a class="read" id="read-terms" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("conditionsofuse") })">@T("Checkout.TermsOfService.Read")</a>
                        }
                    </div>
                }

                <div class="row" style="margin: 30px 0px;">
                    <div class="col-1 col-lg-4"></div>
                    <div class="col-10 col-lg-4">
                        @foreach (var order in Model.OrderPaymentModel.OrderDetailsModel)
                        {
                            <div class="row">
                                <div class="col-6 col-lg-6">
                                    <center>
                                        <input type="hidden" id="Order" name="Order" value="@order.Id" />
                                        <strong></strong><span class="text-Lato"> @order.InvoiceNumber</span>
                                    </center>
                                </div>
                                <div class="col-6 col-lg-6">
                                    <strong></strong><span>@order.company</span>
                                    @if (order.ShippingAddress.Address1 != null)
                                    {
                                        <p class="TitlePayLater" style="margin-top: 32px;">@T("Address")</p>
                                        <p class="PayLater-info">@order.ShippingAddress.Address1 @order.ShippingAddress.City @order.ShippingAddress.ZipPostalCode @order.ShippingAddress.County </p>
                                    }
                                </div>
                            </div>

                            orderTotal = order.OrderSubtotalInv;
                            orderTotalDiscount = order.DiscountApply;
                            orderTotalInv = order.OrderPayWithCreditCard;
                        }
                    </div>
                    <div class="col-1 col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-3"></div>
                    <div class="col-10 col-lg-6">
                        <div class="row">
                            <div class="col-6 col-lg-6" style="text-align: left;">
                                <strong>@T("SubTotalOrder")</strong>
                            </div>
                            <div class="col-6 col-lg-6" style="text-align: right;">
                                <span style="float: right;color: #E44436;" class="text-Lato">$@orderTotal.ToString("N2")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-lg-6" style="text-align: left;">
                                <strong>@T("CustomerApplyCredit")</strong>
                            </div>
                            <div class="col-6 col-lg-6" style="text-align: right;">
                                <span style="float: right; color: #37AEF3; font-weight: 900;" class="text-Lato">$@orderTotalDiscount.ToString("N2")</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-lg-6" style="text-align: left;">
                                <strong>@T("TotalInvoice")</strong>
                            </div>
                            <div class="col-6 col-lg-6" style="text-align: right;">
                                <span style="float: right;color: #E44436;" class="text-Lato">$@orderTotalInv.ToString("N2")</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 col-lg-3"></div>
                </div>
                <div class="row" style="margin: 30px 0px;">
                    <div class="col-1 col-lg-3"></div>
                    <div class="col-10 col-lg-6">
                        <div class="row">
                            <div class="col-6 col-lg-6">
                                <a class="btn-back-desktop-mobile" onclick="ClosePayment()">Back</a>
                            </div>
                            <div class="col-6 col-lg-6">
                                <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="btn-next-desktop-mobile" />
                            </div>
                        </div>
                    </div>
                    <div class="col-1 col-lg-3"></div>
                </div>
                @*
        <div class="paylaterConfirm" style="width: 46%;margin: auto;">
            <div class="buttons">
                <div class="row justify-content-center mt-5">
                    <div class="col-lg-5 text-right">
                        <a onclick="ClosePayment()">
                            <button class="button-1 new-address-next-step-button white white button-back-checkuot" type="button">
                                Back
                            </button>
                        </a>
                    </div>
                    <div class="col-lg-5 text-left">
                        <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="button-1 button-continue-checkuot" />
                    </div>
                </div>
            </div>
            <!--
            <div class="buttons">
                <a onclick="ClosePayment()" class="button-1 new-address-next-step-button white" style=" margin-right: 20px;width: 140px;">
                    Back
                </a>
                <input type="submit" name="nextstep" value="@T("Checkout.ConfirmButton")" class="button-1 confirm-order-next-step-button" />
            </div>
            -->
                *@
            </form>
        </div>

        <script asp-location="Footer">
            $('#confirm-order-form').on('submit',
                function () {
                    var button = $(this).find('input[type="submit"][name="nextstep"]');
                    setTimeout(function () {
                        button.prop('disabled', true);
                    },
                        0);
                });
        </script>

        @if (Model.Warnings != null)
        {
            @if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        }
       
    </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutConfirmBottom })

    </div>
</div>

<script>
    $('#customerCompany').prop('disabled', 'disabled');

    function ClosePayment() {
        location.href = '/Order/Invoice'
    }
</script>
<style>
    .btn-back-desktop-mobile, .btn-back-desktop-mobile:hover {
        border: 1px solid #E44436;
        width: 100%;
        display: block;
        border-radius: 5px;
        height: 100%;
        text-align: center;
        padding: 5px;
        color: #E44436;
        font-size: 16px;
    }

    .btn-next-desktop-mobile, .btn-next-desktop-mobile:hover {
        border: 1px solid #37AEF3;
        width: 100%;
        display: block;
        border-radius: 5px;
        height: 100%;
        text-align: center;
        padding: 5px;
        color: #FFFFFF;
        background-color: #37AEF3;
        font-size: 16px;
    }
</style>