@model List<OrderConfirmModel>
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
    decimal orderTotal = 0;
    decimal subtotalorder = 0;
    decimal CustomerCreditApply = 0;
    var CompanyName = "";
    var BillingAddress = "";

    var error = ViewBag.ErrorPayInvoiceResult;
}


    <div class="row d-flex justify-content-center">
        <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-12 space-div-cofirmed" style="text-align: center;">
                    <span class="text-info title-payment-confirmed-parentandchield" style="font-size: 30px;">Payment Confirmed</span>
                </div>
            </div>
            <div class="row justify-content-center content-payment-confirmed-parentandchield">
                <div class="col-lg-12 space-div-cofirmed" style="text-align: center;">
                    <span class="">
                       @T("invoice.SentEmail")
                        @foreach (var item in Model)
                        {
                            orderTotal = item.OrderPayWithCreditCard;
                            subtotalorder = item.OrderSubtotalInv;
                            CustomerCreditApply = item.DiscountApply;
                            CompanyName = CompanyName;
                            BillingAddress = item.Address1 + ", " + item.City + ", " + item.StateProvinceName + ", " + item.ZipPostalCode + ", " + item.CountryName;

                        }
                    </span>
                </div>
            </div>
            <div class="row details-payment-confirmed-parentandchield">
                <div class="col-12 col-lg-2"></div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div><b>Details:</b></div>
                            <table id="total-zone-payment-information">
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-6 wop">
                                                <p class="TitlePayLater" style=" margin-bottom: 0; ">@T("SubTotalOrder")  </p>
                                            </div>
                                            <div class="col-lg-6 wop">
                                                <span class="PayLater-total text-Lato">$@subtotalorder.ToString("N2")</span>
                                            </div>
                                        </div>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-6 wop">
                                                <p class="TitlePayLater" style=" margin-bottom: 0; "> @T("CustomerApplyCredit") </p>
                                            </div>
                                            <div class="col-lg-6 wop">
                                                <span style=" color: #37AEF3;font-weight: 900; font-size: 18px;" id="CustomerApplyCredit" class="text-Lato">$@CustomerCreditApply.ToString("N2")</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-6 wop">
                                                <p class="TitlePayLater" style=" margin-bottom: 0; ">@T("TotalOrder")   </p>
                                            </div>
                                            <div class="col-lg-6 wop">
                                                <span class="PayLater-total text-Lato" id="total-partial-payment-with-credit-card">$@orderTotal.ToString("N2")</span>
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </table>
                        </div>
                        <div class="col-12 col-lg-6 details-billing-payment-confirmed-parentandchield">
                            <strong>
                                Billing Address
                            </strong>
                                <div>@BillingAddress </div>

                                <br />

                                @foreach (var item in Model)
                                {
                                    <div class="text-Lato"><b></b>@item.PONumber</div>
                                    <div class="text-Lato"><strong></strong>@item.company</div>

                                    <br />
                                }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-3">

        </div>
        <div class="col-12 col-lg-6" style="margin: 30px 0px;">
            <center>
                <button onclick="setLocation('@Url.RouteUrl("Homepage")')" type="submit" class="button-1 button-continue-checkuot">@T("Checkout.ThankYou.Continue")</button>
            </center>
        </div>
        <div class="col-12 col-lg-3">

        </div>
    </div>


    <style>


        #total-zone-payment-information tr td {
            padding-left: 0px !important;
        }



        @@media (max-width: 800px) {
            .space-div-cofirmed {
                margin: 20px 0px;
                text-align: center;
            }

            .TitlePayLater {
                padding-left: 0px;
            }

            #total-zone-payment-information {
                margin-bottom: 25px;
            }
        }

</style>
