@model List<OrderConfirmModel>
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");
    decimal orderTotal = 0;
}


    <div class="row d-flex justify-content-center">
        <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-12" style="text-align: center;">
                    <span class="text-info title-payment-confirmed-parentandchield">Payment Confirmed</span>
                </div>
            </div>
            <div class="row justify-content-center content-payment-confirmed-parentandchield">
                <div class="col-lg-12" style="text-align: center;">
                    <span class="">
                        A receipt has been sent to your email
                        @foreach (var item in Model)
                        {
                            orderTotal += item.OrderTotalPayList;
                        }
                    </span>
                </div>
            </div>
            <div class="row details-payment-confirmed-parentandchield">
                <div class="col-12 col-lg-2"></div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div><b>Details:</b></div>
                            @*<div>Payment Date: 09/28/2022</div>*@
                            <div>Credit Card: $@orderTotal.ToString("0. ##")</div>
                            @*<div>Credit Applied: $450.00</div>*@
                            @*<div>Total: $2450.94</div>*@
                        </div>
                        <div class="col-12 col-lg-6 details-billing-payment-confirmed-parentandchield">
                            <div><b>Billing Address:</b></div>
                            @foreach (var item in Model)
                            {
                                <div><b>Order:</b> #(@item.Id)</div>
                                <div><b>Email:</b> @item.Email</div>
                                <div>@item.Name</div>
                                <div>@item.Address1  @item.StateProvinceName </div>
                                <div>@item?.ZipPostalCode</div>
                                <br />
                            }
                        </div>
                        </div>
                </div>
                <div class="col-12 col-lg-2"></div>
            </div>
        </div>
    </div>

}
    <div class="row">
        <div class="col-12 col-lg-3">

        </div>
        <div class="col-12 col-lg-6" style="margin: 30px 0px;">
            <center>
                <button onclick="setLocation('@Url.RouteUrl("Homepage")')" type="submit" class="btn btn-info btn-finish-total-payment-selectorderstopay">@T("Checkout.ThankYou.Continue")</button>
            </center>
        </div>
        <div class="col-12 col-lg-3">

        </div>
    </div>

