@using Nop.Core.Domain.Orders
@model OrderPaymentModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-order-list-page");

    decimal orderTotal = 0;
}

<style>
    .container-btn {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .container-btn input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 0px !important;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container-btn:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container-btn input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container-btn input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container-btn .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>


<div class="row d-flex justify-content-center">
    <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="page-title">
                    <h1>@T("Checkout.PaymentInfo")</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentInfoTop })
                <div class="section payment-info">
                    <div style="width: 100%">
                        <div id="myid"></div>
                        <div id="myidfecha"></div>
                        <div id="myidcvc"></div>
                    </div>

                    <form asp-route="RetryPaymentInfo" method="post" name="paymentMethod" class=" paymentMethod " onsubmit='return validateCardNumber()'>

                        <div>
                            <div class="design1div_left">

                            </div>
                        </div>
                        <div class="design1div_rigth">

                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="row">
                                        @if (Model.CheckoutPaymentInfoModel.PaymentsCards?.profile != null)
                                        {
                                            if (Model.CheckoutPaymentInfoModel.PaymentsCards.profile.paymentProfiles != null)
                                            {
                                                @foreach (var item in Model.CheckoutPaymentInfoModel.PaymentsCards.profile.paymentProfiles)
                                                {
                                                    var expirationDate = item.payment.creditCard.expirationDate;
                                                    var isExpired = false;
                                                    if (expirationDate != "XXXX")
                                                    {
                                                        var expD = expirationDate.Split('-');
                                                        if (expD[0] != null && expD[1] != null)
                                                        {
                                                            var year = Convert.ToInt32(expD[0]);
                                                            var month = Convert.ToInt32(expD[1]);

                                                            if (year < DateTime.Now.Year)
                                                            {
                                                                isExpired = true;
                                                            }


                                                            if (year < DateTime.Now.Year && month < DateTime.Now.Day)
                                                            {
                                                                isExpired = true;
                                                            }
                                                        }
                                                    }

                                                    <div class="col-md-6 input-customer">
                                                        <div class="form-control pay-target">
                                                            <div class="row">
                                                                <div class="col-auto d-flex">
                                                                    @if (isExpired)
                                                                    {

                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" name="group1[]" class="infoCreditCard my-auto" value="@item.customerPaymentProfileId" style="float: left;" />
                                                                    }

                                                                </div>
                                                                <div class="col-auto d-flex p-0">
                                                                    <div class="my-auto" style="float: initial; text-align: left; margin-left: 3px;">@item.payment.creditCard.cardType - @item.payment.creditCard.cardNumber</div>
                                                                    @if (isExpired)
                                                                    {
                                                                        <div style=" font-style: normal; font-weight: normal; font-size: 12px; line-height: 1.023rem; color: #e44436; margin: auto; margin-left: 6px;">@T("expirationDate.cc")</div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*<div class="form-control pay-target">



                                                            </div>*@
                                                    </div>
                                                }



                                            }
                                            else
                                            {
                                                <div class="col-md-6 input-customer">
                                                    <p style="float: initial; margin-left: 8%;">No credit cards have been loaded</p>
                                                </div>
                                            }
                                        }

                                        <div class="col-md-6 input-customer">
                                            <div class="form-control pay-target">
                                                <div class="row">
                                                    <div class="col-auto d-flex">
                                                        <input type="checkbox" name="group1[]" class="my-auto" id="AddNewCard" value="AddNewCard" style="float: left;" />
                                                    </div>
                                                    <div class="col-auto d-flex p-0">
                                                        <p class="my-auto" style="float: initial;">Add new card</p>
                                                        <a href="javascript:;" style="float: right; margin-top: -34px;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                            <div class="info displayNone paywithcard" style="display: none;">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 text-center">
                                                        @await Component.InvokeAsync(Model.CheckoutPaymentInfoModel.PaymentViewComponentName)
                                                        @if (!Model.CheckoutPaymentInfoModel.IsGuest)
                                                        {
                                                            <div class="row justify-content-center text-payment-info mt-3">
                                                                <div class="col-lg-12">
                                                                    <div class="row shippingoptionSaveCard displayNone">
                                                                        <div class="col-auto d-flex">
                                                                            <input type="checkbox" name="shippingoptionSaveCard" class="my-auto" />
                                                                        </div>
                                                                        <div class="col-auto d-flex p-0">
                                                                            <label class="my-auto">Save for future payments </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @foreach (var order in Model.OrderDetailsModel)
                                {
                                    orderTotal += order.OrderTotalPayList;
                                }
                                <div class="col-lg-4">
                                    <div class="page order-details-page">
                                        <div class="page-body checkout-data">
                                            <div class="section payment-info">
                                                @foreach (var order in Model.OrderDetailsModel)
                                                {
                                                    <input type="hidden" id="Order" name="Order" value="@order.Id" />
                                                    <strong>@T("Order.Order")  </strong> <span> @order.TransId  (#@order.Id) </span>
                                                    <br />
                                                    <strong> @T("Order.Company") </strong> <span> @order.company</span>
                                                    <br />
                                                    if (order.ShippingAddress.Address1 != null)
                                                    {
                                                        <p class="TitlePayLater" style="margin-top: 32px;">@T("Address")</p>
                                                        <p class="PayLater-info">@order.ShippingAddress.Address1 @order.ShippingAddress.City @order.ShippingAddress.ZipPostalCode @order.ShippingAddress.County </p>
                                                    }
                                                    <br />
                                                }
                                                <p class="TitlePayLater" style="margin-top: 32px;">@T("TotalOrder")</p>
                                                <p class="PayLater-total">$@orderTotal.ToString("0. ##")</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="buttons">
                                <div class="row justify-content-center mt-5">
                                    <div class="col-lg-5 text-right">
                                        <a href="/order/history">
                                            <button class="button-1 new-address-next-step-button white white button-back-checkuot" type="button">
                                                Back
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-lg-5 text-left">
                                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 button-continue-checkuot" />
                                    </div>
                                </div>


                            </div>

                        </div>


                    </form>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentInfoBottom })
            </div>
        </div>

    </div>
</div>

<style>
    .input-customer {
        padding: 10px;
    }

    .pay-target {
        margin-bottom: 10px;
    }

        .pay-target input[type="checkbox"] {
            width: 1.3em;
            height: 1.3em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #ddd;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            margin-top: 0px;
        }

            .pay-target input[type="checkbox"]:checked {
                background-color: deepskyblue;
            }
</style>
<script>

    $('#customerCompany').prop('disabled', 'disabled');


    $('#AddNewCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido seleccionado
            $(".paywithcard").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $(".paywithcard").css("display", "block");
            $("#InfoCreditCard").html("");
            $(".shippingoptionSaveCard").removeClass("displayNone");
            $(".shippingoptionSaveCard").css("display", "");
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".shippingoptionSaveCard").css("display", "none");

        }
    });

    $('.infoCreditCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $("#CardholderName").css("border", "1px solid #ddd");
            $("#CardNumber").css("border", "1px solid #ddd");
            $("#CardCode").css("border", "1px solid #ddd");
            $("#ExpireMonth").css("border", "1px solid #ddd");
            $("#ExpireYear").css("border", "1px solid #ddd");
            $(".shippingoptionSaveCard").css("display", "none");
            $(".shippingoptionSaveCard").addClass("displayNone");

            $('#ExpireYear').css("border", "1px solid #ddd");
            $('#ExpireMonth').css("border", "1px solid #ddd");
            document.getElementById('myidfecha').innerHTML = "";

        }
    });

    var input = document.getElementById("ExpireMonth");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date  = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                     //   document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

    var input = document.getElementById("ExpireYear");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                       // document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

    $('.infoCreditCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $("#CardholderName").css("border", "1px solid #ddd");
            $("#CardNumber").css("border", "1px solid #ddd");
            $("#CardCode").css("border", "1px solid #ddd");
            $("#ExpireMonth").css("border", "1px solid #ddd");
            $("#ExpireYear").css("border", "1px solid #ddd");
            $(".shippingoptionSaveCard").css("display", "none");
            $("#myidfecha").addClass("displayNone");

            $(".message-error ").css("display", "none");
            $("#CardholderName-error").css("display", "none");
            $("#CardNameJs").css("display", "none");
            $("#CardNumberJs").css("display", "none");
            $("#DateJs").css("display", "none");
            $("#CardCodeJs").css("display", "none");
        }
    });

    $('#AddNewCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido seleccionado
            $(".paywithcard").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".paywithcard").css("display", "");
            $(".shippingoptionSaveCard").removeClass("displayNone");
            $(".shippingoptionSaveCard").css("display", "");
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".shippingoptionSaveCard").css("display", "none");
        }
    });

    //$(document).ready(function () {
    //    $('input[type=checkbox]').live('click', function () {
    //        var parent = $(this).parent().attr('id');
    //        $('#' + parent + ' input[type=checkbox]').removeAttr('checked');
    //        $(this).attr('checked', 'checked');
    //    });
    //});

    $('input[type="checkbox"]').on('change', function () {

        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });




    function validateCardNumber() {
        var error = 0;
        if (document.getElementById('AddNewCard').checked) {


            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();


            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }

            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
            var CardholderName = document.getElementById("CardholderName").value;
            if (CardholderName == "") {
                error++;
                //$('#CardNumberJs').val(@T("EntercardNumber"));

            } else {
                //  $('#CardNumberJs').val();
            }

            var CardNumber = document.getElementById("CardNumber").value;
            if (CardNumber == "") {
                error++;
                $("#CardNumberJs").css("display", "block");
                //$('#CardNumber').val(@T("EntercardNumber"));

            } else {
                $("#CardNumberJs").css("display", "none");
                // $('#CardNumber').val();
            }

            var CardCode = document.getElementById("CardCode").value;
            if (CardCode == "") {
                error++;
                $("#CardCodeJs").css("display", "block");

            } else {
                $("#CardCodeJs").css("display", "none");
            }
        } else {

        }



        if (error == 0) {
            return true;
        } else {
            return false;
        }

    }

    function checkDigit(event){
        var  str = document.getElementById(event.id).value;
        for (var i = 0; i < str.length; i++) {
            if (isNaN(str.charAt(i))) { //is not number
                    document.getElementById(event.id).value = "";
            }
        }
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function validateCardNameKey() {
        var CardholderName = document.getElementById("CardholderName").value;
        if (CardholderName == "") {
            error++;
            $("#CardNameJs").css("display", "block");

        } else {
            $("#CardNameJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardNumberKey() {
        var CardNumber = document.getElementById("CardNumber").value;
        if (CardNumber == "") {
            error++;
            $("#CardNumberJs").css("display", "block");


        } else {
            $("#CardNumberJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardCodeKey() {
        var CardCode = document.getElementById("CardCode").value;
        if (CardCode == "") {
            error++;
            $("#CardCodeJs").css("display", "block");

        } else {
            $("#CardCodeJs").css("display", "none");
        }
    }

    function validateDate() {
        var error = 0;
        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();

        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {


            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");

                } else {


                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
        }

        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();
        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        error++;
                    }
                }
            }

        }
    }


</script>

@*
    <form asp-route="RetryPaymentInfo" method="post" name="paymentMethod" class=" paymentMethod " onsubmit='return validateCardNumber()'>

        <div class="row d-flex justify-content-center">
            <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="page-title page-title-selectorderstopay-mobile page-title-selectorderstopay-desktop">
                            <h1>@T("Order.payment")</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-3"></div>
                    <div class="col-12 col-lg-6">
                        <div class="row">

                            <div class="col-12 col-lg-12">
                                @foreach (var order in Model.OrderDetailsModel)
                                {
                                    orderTotal += order.OrderTotalPayList;
                                }
                                <center>
                                    <!--
                                    <div class="row" style="margin: 50px 0px;">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Apply Account Credit: <span class="text-info">$@orderTotal.ToString("0. ##")</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                    <div class="row" style="margin: 20px 0px;">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-group" style="text-align: left;">

                                                <div class="page order-details-page">
                                                    <div class="page-body checkout-data">
                                                        <div class="section payment-info">
                                                            @foreach (var order in Model.OrderDetailsModel)
                                                            {

                                                                <strong>@T("Order.Order")  </strong> <span> @order.TransId  (#@order.Id) </span>
                                                                <br />
                                                                <strong> @T("Order.Company") </strong> <span> @order.company</span>
                                                                <br />
                                                                if (order.ShippingAddress.Address1 != null)
                                                                {
                                                                    <p class="TitlePayLater" style="margin-top: 32px;">@T("Address")</p>
                                                                    <p class="PayLater-info">@order.ShippingAddress.Address1 @order.ShippingAddress.City @order.ShippingAddress.ZipPostalCode @order.ShippingAddress.County </p>
                                                                }
                                                                <br />
                                                            }
                                                            <p class="TitlePayLater" style="margin-top: 32px;">@T("TotalOrder")</p>
                                                            <p class="PayLater-total">@orderTotal</p>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                        <div class="info paywithcard">
                                            <div class="row justify-content-center">
                                                <div class="col-12 text-center">
                                                    @await Component.InvokeAsync(Model.CheckoutPaymentInfoModel.PaymentViewComponentName)

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--<div class="row" style="margin: 20px 0px;">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-group" style="text-align: left;">
                                                <label for="exampleFormControlSelect1">Credit Card Name</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 20px 0px;">
                                        <div class="col-12 col-lg-12">
                                            <div class="form-group" style="text-align: left;">
                                                <label for="exampleFormControlSelect1">Credit Card Number</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 20px 0px;">
                                        <div class="col-4 col-lg-4">
                                            <div class="form-group" style="text-align: left;">
                                                <label for="exampleFormControlSelect1">Month</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                    <option>04</option>
                                                    <option>05</option>
                                                    <option>06</option>
                                                    <option>07</option>
                                                    <option>08</option>
                                                    <option>09</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4 col-lg-4">
                                            <div class="form-group" style="text-align: left;">
                                                <label for="exampleFormControlSelect1">Year</label>
                                                <select class="form-control">
                                                    <option>2020</option>
                                                    <option>2021</option>
                                                    <option>2022</option>
                                                    <option>23</option>
                                                    <option>24</option>
                                                    <option>25</option>
                                                    <option>26</option>
                                                    <option>27</option>
                                                    <option>28</option>
                                                    <option>29</option>
                                                    <option>30</option>
                                                    <option>31</option>
                                                    <option>32</option>
                                                    <option>33</option>
                                                    <option>34</option>
                                                    <option>35</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4 col-lg-4" style="text-align: left;">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">CVV</label>
                                                <input type="text" class="form-control" placeholder="CVV">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4 space-pay-step-pay-total"></div>
                                        <div class="col-12 col-lg-8 space-pay-step-pay-total">-->
                                    <!--
                                    <div class="row">
                                        <div class="col-lg-8"><b>Credit Applied</b></div>
                                        <div class="col-lg-4">$600</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-8"><b>Charge Credit Card</b></div>
                                        <div class="col-lg-4">$@orderTotal.ToString("0. ##")s</div>
                                    </div>
                                    -->
                                    <br />
                                    <div class="row" style="border-top: 1px solid #666;    padding-top: 10px;
    ">
                                        <div class="col-lg-8"><b>Total Payment Ammount</b></div>
                                        <div class="col-lg-4 text-info">$@orderTotal.ToString("0. ##")</div>
                                    </div>
                                    <br />

                                </center>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-12 col-lg-3"></div>

        </div>


        <div class="row">
            <div class="col-12 col-lg-3">

            </div>
            <div class="col-12 col-lg-6" style="margin: 30px 0px;">
                <center>
                    <a href="/Order/OrderListToPay" class="btn btn-outline-danger btn-finish-total-payment-selectorderstopay" style="padding: 5px !important;">Back</a>
                    <button type="submit" class="btn btn-info btn-finish-total-payment-selectorderstopay">Continue</button>
                </center>
            </div>
            <div class="col-12 col-lg-3">

            </div>
        </div>
    </form>
    @using (Html.BeginForm("OrderListToPayStepFinish", "Order", FormMethod.Post, new { id = "OrderListForm", name = "OrderListForm", style = "width: 100%" }))
        {
            <div class="row">
                <div class="col-12 col-lg-3">

                </div>
                <div class="col-12 col-lg-6" style="margin: 30px 0px;">
                    <center>
                        <a href="/Order/OrderListToPay" class="btn btn-outline-danger btn-finish-total-payment-selectorderstopay" style="padding: 5px !important;">Back</a>
                        <button type="submit" class="btn btn-info btn-finish-total-payment-selectorderstopay">Continue</button>
                    </center>
                </div>
                <div class="col-12 col-lg-3">

                </div>
            </div>
        }*@


<script>

    $('#customerCompany').prop('disabled', 'disabled');


    $('#AddNewCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido seleccionado
            $(".paywithcard").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $(".paywithcard").css("display", "block");
            $("#InfoCreditCard").html("");
            $(".shippingoptionSaveCard").removeClass("displayNone");
            $(".shippingoptionSaveCard").css("display", "");
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".shippingoptionSaveCard").css("display", "none");

        }
    });

    $('.infoCreditCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $("#CardholderName").css("border", "1px solid #ddd");
            $("#CardNumber").css("border", "1px solid #ddd");
            $("#CardCode").css("border", "1px solid #ddd");
            $("#ExpireMonth").css("border", "1px solid #ddd");
            $("#ExpireYear").css("border", "1px solid #ddd");
            $(".shippingoptionSaveCard").css("display", "none");
            $(".shippingoptionSaveCard").addClass("displayNone");

            $('#ExpireYear').css("border", "1px solid #ddd");
            $('#ExpireMonth').css("border", "1px solid #ddd");
            document.getElementById('myidfecha').innerHTML = "";

        }
    });

    var input = document.getElementById("ExpireMonth");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date  = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                     //   document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

    var input = document.getElementById("ExpireYear");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                       // document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

    $('.infoCreditCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $("#CardholderName").css("border", "1px solid #ddd");
            $("#CardNumber").css("border", "1px solid #ddd");
            $("#CardCode").css("border", "1px solid #ddd");
            $("#ExpireMonth").css("border", "1px solid #ddd");
            $("#ExpireYear").css("border", "1px solid #ddd");
            $(".shippingoptionSaveCard").css("display", "none");
            $("#myidfecha").addClass("displayNone");

            $(".message-error ").css("display", "none");
            $("#CardholderName-error").css("display", "none");
            $("#CardNameJs").css("display", "none");
            $("#CardNumberJs").css("display", "none");
            $("#DateJs").css("display", "none");
            $("#CardCodeJs").css("display", "none");
        }
    });

    $('#AddNewCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido seleccionado
            $(".paywithcard").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".paywithcard").css("display", "");
            $(".shippingoptionSaveCard").removeClass("displayNone");
            $(".shippingoptionSaveCard").css("display", "");
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".shippingoptionSaveCard").css("display", "none");
        }
    });

    //$(document).ready(function () {
    //    $('input[type=checkbox]').live('click', function () {
    //        var parent = $(this).parent().attr('id');
    //        $('#' + parent + ' input[type=checkbox]').removeAttr('checked');
    //        $(this).attr('checked', 'checked');
    //    });
    //});

    $('input[type="checkbox"]').on('change', function () {

        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });




    function validateCardNumber() {
        var error = 0;
        if (document.getElementById('AddNewCard').checked) {


            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();


            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }

            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
            var CardholderName = document.getElementById("CardholderName").value;
            if (CardholderName == "") {
                error++;
                //$('#CardNumberJs').val(@T("EntercardNumber"));

            } else {
                //  $('#CardNumberJs').val();
            }

            var CardNumber = document.getElementById("CardNumber").value;
            if (CardNumber == "") {
                error++;
                $("#CardNumberJs").css("display", "block");
                //$('#CardNumber').val(@T("EntercardNumber"));

            } else {
                $("#CardNumberJs").css("display", "none");
                // $('#CardNumber').val();
            }

            var CardCode = document.getElementById("CardCode").value;
            if (CardCode == "") {
                error++;
                $("#CardCodeJs").css("display", "block");

            } else {
                $("#CardCodeJs").css("display", "none");
            }
        } else {

        }



        if (error == 0) {
            return true;
        } else {
            return false;
        }

    }

    function checkDigit(event){
        var  str = document.getElementById(event.id).value;
        for (var i = 0; i < str.length; i++) {
            if (isNaN(str.charAt(i))) { //is not number
                    document.getElementById(event.id).value = "";
            }
        }
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function validateCardNameKey() {
        var CardholderName = document.getElementById("CardholderName").value;
        if (CardholderName == "") {
            error++;
            $("#CardNameJs").css("display", "block");

        } else {
            $("#CardNameJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardNumberKey() {
        var error = 0;
        var CardNumber = document.getElementById("CardNumber").value;
        if (CardNumber == "") {
            error++;
            $("#CardNumberJs").css("display", "block");


        } else {
            $("#CardNumberJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardCodeKey() {
        var error = 0;
        var CardCode = document.getElementById("CardCode").value;
        if (CardCode == "") {
            error++;
            $("#CardCodeJs").css("display", "block");

        } else {
            $("#CardCodeJs").css("display", "none");
        }
    }

    function validateDate() {
        var error = 0;
        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();

        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {


            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");

                } else {


                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
        }

        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();
        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        error++;
                    }
                }
            }

        }
    }


</script>