@model CheckoutCompletedModel
@using Microsoft.AspNetCore.Http
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
    var _httpContext = new DefaultHttpContext();
    //var request = HttpContext.Current.Request
    /*tring parametro = _httpContext.Request..QueryString["valorParametro"];*/

}
<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
    }
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="page-title completed-thank-u">
                <p>@T("Checkout.ThankYou")</p>
            </div>
            <div class="page-body checkout-data">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
                <div class="section order-completed">
                    <div class="completed-process">
                        <strong style="font-size:1rem">                        
                        <!--@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")-->
                        Your request has been processed</strong>
                    </div>
                    <div class="details">
                        <div class="order-number order-number">
                            <strong style="font-size:1rem">@T("Checkout.OrderNumber"): <strong style="font-family: Arial">@Model.OrderId</strong></strong>
                        </div><br />
                        <div class="details-link">
                            <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("Homepage")')" />
                    </div>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

</div>
