@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsOne";

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/my.script.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/JavaScript.js");


    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var billingAddressStepNumber = 1;
    var shippingAddressStepNumber = 2;
    var shippingMethodStepNumber = 3;
    var paymentMethodStepNumber = 4;
    var paymentInfoStepNumber = 5;
    var confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}
<style>
    #socialside{
        display:none;
    }
    .btn:disabled,
    .btn.disabled {
        color: #fff;
        border-color: #a0a0a0;
        background-color: #a0a0a0;
        margin-top: 0px !important;
        margin-bottom: 4px;
    }

        .btn:disabled:hover,
        .btn:disabled:focus,
        .btn.disabled:hover,
        .btn.disabled:focus {
            color: #fff;
            border-color: #a0a0a0;
            background-color: #a0a0a0;
        }

    .checkoutTitle {
        background: #ECEFF1 !important;
        padding-top: 40px;
        margin-top: 0 !important;
        top: 0;
    }

    /*  #checkout-steps .order-summary .text-center {
        display: none;
    }*/
</style>
<div class="row mt-5 checkoutTitle">
    <div class="col-lg-12">
        <div class="mb-5">
            <h1>@T("Checkout")</h1>
        </div>
    </div>
</div>


<div class="row d-flex justify-content-center mt-3">
    <div class="col-sm-11 col-md-11 col-lg-11">
        <div class="row">
            <div id="section-div-1" name="section-div-1"></div>
            <div class="col-lg-12">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentBefore })
                <ol class="opc" id="checkout-steps">
                    <li id="opc-ordersummary" class="tab-section allow mt-5" style=" background-color: white; ">
                        <button class="accordionCheckout checkout-page-title-summary active" id="acordeon1" style="background-color: #fff !important;"><span class="title-tab-checkout">@T("checkout.OrderSummary")</span></button>
                        <div class="panel wop" style="display:block" id="panel1">
                            <br />
                            <div class="row">
                                <div class="col-lg-9"></div>
                                <div class="wop col-lg-2" style="text-align: end;">
                                    <button id="btn-goback-mobile" type="button" class="view-cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" value="@T("account.shoppingcart")">
                                        <p class="view-cart-button-text"><i class="nn- nn-car view-cart-button-text"></i>&nbsp;&nbsp;@T("account.shoppingcart")</p>
                                    </button>
                                </div>
                            </div>
                            <div class="section order-summary order-summary-content" style="margin-top:10px;">
                                @await Component.InvokeAsync("OrderSummary", new { prepareAndDisplayOrderReviewData = false })
                            </div>
                            <div class="row justify-content-center mb-4">
                                <div class="wop col-12 col-lg-6">
                                    <div class="buttons" id="ordersummary-buttons-container">
                                        <div class="row justify-content-center">
                                            <div class="wop col-12 col-lg-6 text-right">
                                                <input type="button" title="@T("Common.Continue")" class="button-1 new-address-next-step-button white button-back-checkuot button-back-checkout " onclick="location.href='@Url.Action("Cart", "ShoppingCart")'" value="@T("Back")" />
                                            </div>
                                            <div class="wop col-12 col-lg-6 text-left">
                                                <a href="#checkout-step-billing"><input id="billing-address-select_button" type="button" title="@T("Common.Continue")" class="between-button button-1 new-address-next-step-button border button-continue-checkuot " onclick="ShowInfoUserOptions();" value="@T("Common.Continue")" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li id="opc-billing" class="tab-section">
                        <div class="step-title accordionCheckout">
                            @*<span class="number">@billingAddressStepNumber</span>*@
                            <span class="title-tab-checkout">@billingAddressStepNumber. @T("Checkout.BillingAddress")</span>
                        </div>
                        <div id="checkout-step-billing" class="step a-item" style="display: none;">

                            <form id="co-billing-form" action="">
                                <div id="checkout-billing-load">
                                    @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                                    @*billing address content will be loaded here*@
                                </div>
                            </form>
                            <script asp-location="Footer">
                           Billing.init('#co-billing-form', '@(storeLocation)','checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                            </script>
                            <div class="row justify-content-center mb-4">
                                <div class="wop col-12 col-lg-6">
                                    <div class="buttons" id="ordersummary-buttons-container">
                                        @*Next()*@
                                        <div class="row justify-content-center">
                                            <div class="wop col-12 col-lg-4">
                                                <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end mt-1">
                                            <div class="wop col-12 col-lg-6 text-right">
                                                <button id="edit-address-button" type="button" class="button-1 border button-continue-checkuot" style="display: none" onclick="Billing.editAddress('@(storeLocation)checkout/GetAddressById/'); return false; ">@T("Common.Edit")</button>
                                            </div>
                                            <div class="wop col-12 col-lg-6 text-left">
                                                <button id="delete-address-button" type="button" class="button-1 border button-continue-checkuot" style="display: none" onclick="Billing.deleteAddress('@(storeLocation)checkout/DeleteEditAddress/'); return false;">@T("Common.Delete")</button>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-1">
                                            <div class="wop col-12 col-lg-6 text-center">
                                                <button id="save-address-button" type="button" class="button-1 register-button border button-continue-checkuot" style="display: none" onclick="Billing.saveEditAddress('@(storeLocation)checkout/SaveEditAddress/'); return false;">@T("Common.Save")</button>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-1">
                                            <div class="wop col-12 col-lg-6 text-right">
                                                <input type="button" title="@T("Common.Continue")" class="button-back-checkout button-1 new-address-next-step-button white button-back-checkuot " onclick="Back(1)" value="@T("Back")" />
                                            </div>
                                            @if (Model.CurrentCustomerIsGuest)
                                            {
                                                <div class="wop col-12 col-lg-6 text-left">
                                                    <a href="#section-div-1"><input type="button" title="@T("Common.Continue")" id="button-billing-continue" class="button-1 new-address-next-step-button border button-continue-checkuot button_billing_continue_button" onclick="Billing.save()" value="@T("Common.Continue")" /></a>
                                                </div>
                                            }
                                            else
                                            {
                                                @if (Model.CurrentCustomerIsAccount != 0)
                                                {

                                                    if (Model.PONumberReq)
                                                    {


                                                        <input type="hidden" id="PONumberReq" name="PONumberReq" value="true" />
                                                        <div class="wop col-12 col-lg-6 text-left">
                                                            <a href="#section-div-1"><input type="button" title="@T("Common.Continue")" id="button-billing-continue" class="button-1 new-address-next-step-button border button-continue-checkuot button_billing_continue_button" onclick="ValidPONumber()" value="@T("Common.Continue")" /></a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="wop col-12 col-lg-6 text-left">
                                                            <a href="#section-div-1"><input type="button" title="@T("Common.Continue")" id="button-billing-continue" class="button-1 new-address-next-step-button border button-continue-checkuot button_billing_continue_button" onclick="Billing.save()" value="@T("Common.Continue")" /></a>
                                                        </div>
                                                    }

                                                }
                                                else
                                                {
                                                    <div class="wop col-12 col-lg-6 text-left">
                                                        <a href="#section-div-1"><input type="button" title="@T("Common.Continue")" id="button-billing-continue" class="button-1 new-address-next-step-button border button-continue-checkuot button_billing_continue_button" onclick="Billing.save()" value="@T("Common.Continue")" /></a>
                                                    </div>
                                                }
                                            }



                                            @*//}else
                                                {
                                                    <div class="wop col-12 col-lg-6 text-left">
                                                        <a href="#section-div-1"><input type="button" title="@T("Common.Continue")" id="button-billing-continue" class="button-1 new-address-next-step-button border button-continue-checkuot" onclick="Billing.save();" value="@T("Common.Continue")" /></a>
                                                    </div>
                                                }*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    @if (Model.ShippingRequired)
                    {
                        <li id="opc-shipping" class="tab-section">
                            <div class="step-title accordionCheckout">
                                @*<span class="number">@shippingAddressStepNumber</span>*@
                                <span class="title-tab-checkout">@shippingAddressStepNumber. @T("Checkout.ShippingAddress")</span>
                            </div>
                            <div id="checkout-step-shipping" class="step a-item" style="display: none;">
                                <form action="" id="co-shipping-form">
                                    <div id="checkout-shipping-load">
                                        @*shipping address content will be loaded here*@
                                    </div>
                                </form>
                                <script asp-location="Footer">
                            Shipping.init('#co-shipping-form', '@(storeLocation)','checkout/OpcSaveShipping/');
                            if ($("#shipping-address-select").length > 0) {
                                Shipping.newAddress(!$('#shipping-address-select').val());
                            }
                                </script>
                                <div class="buttons" id="shipping-buttons-container" style="padding-top: 20px;">
                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-1">
                                        <div class="wop col-12 col-lg-6 text-right">
                                            @if (!Model.DisableBillingAddressCheckoutStep)
                                            {
                                                <input type="button" title="@T("Back")" class="button-back-checkout button-1 new-address-next-step-button white white button-back-checkuot" onclick="Checkout.back(); return false; " value="@T("Back")" />
                                            }
                                        </div>
                                        <div class="wop col-12 col-lg-6 text-left">
                                            <a href="#section-div-1"><input type="button" id="button-shipping-continue" class="button-1 new-address-next-step-button button-continue-checkuot" title="@T("Common.Continue")" onclick="Shipping.save()" value="@T("Common.Continue")" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="opc-shipping_method" class="tab-section">
                            <div class="step-title accordionCheckout">
                                @*<span class="number">@shippingMethodStepNumber</span>*@
                                <span class="title-tab-checkout">@shippingMethodStepNumber. @T("Checkout.ShippingMethod")</span>
                            </div>
                            <div id="checkout-step-shipping-method" class="step a-item" style="display: none;">
                                <form id="co-shipping-method-form" action="">
                                    <div id="checkout-shipping-method-load">
                                        <!-- AQUI -->
                                        @*shipping methods content will be loaded here*@
                                    </div>
                                    <script asp-location="Footer">
                                        ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');

                                    </script>
                                    @*Freight Quote*@

                                    <div class="row justify-content-end">
                                        <div class="col-lg-8">
                                            <div class="mt-3">
                                                <div class="form-group freightQuote" id="send-request-div">
                                                    <label class="containerRadio">
                                                        <input id="shippingoption_FreightQuote" type="radio" name="shippingoption" value="@T("admin.configuration.shipping.method.freightquote")___@T("admin.configuration.shipping.method.freightquote")">
                                                        <label class="shipping-options" for="shippingoption_FreightQuote">@T("admin.configuration.shipping.method.freightquote")</label>
                                                        <span class="checkmark payment-method-radio"></span>
                                                    </label>
                                                    <label class="shipping-options-legend" for="shippingoption_FreightQuote">@T("admin.configuration.shipping.method.freightquote.legend")</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-4">
                                            <span id="shipping-method-please-wait" class="please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                        </div>
                                    </div>
                                    <div class="buttons" id="shipping-method-buttons-container">
                                        <div class="row justify-content-center mt-5">
                                            <div class="wop col-12 col-lg-6 text-right">
                                                <input type="button" class="button-back-checkout button-1 new-address-next-step-button white button-back-checkuot" onclick="Checkout.back(); return false; " value="@T("Back")" />
                                            </div>
                                            <div class="wop col-12 col-lg-6 text-left">
                                                <a href="#section-div-1"><input type="button" id="shippingMethodNext" class="button-1 shipping-method-next-step-button button-continue-checkuot button_shipping_Method_continue" onclick="ShippingMethod.save()" value="@T("Common.Continue")" /></a>
                                            </div>
                                        </div>
                                        </div>
                                </form>
                            </div>
                        </li>



                    }
                    <li id="opc-payment_method" class="tab-section">
                        <div class="step-title accordionCheckout">
                            @*<span class="number">@paymentMethodStepNumber</span>*@
                            <span class="title-tab-checkout">@paymentMethodStepNumber. @T("Checkout.PaymentMethod")</span>
                        </div>
                        <div id="checkout-step-payment-method" class="step a-item" style="display: none;">


                            <form action="" id="co-payment-method-form">
                                <div id="checkout-payment-method-load">
                                    @*payment methods content will be loaded here*@ Payment is not required
                                </div>
                            </form>
                            <script asp-location="Footer">
                        PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                            </script>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <span class="please-wait" id="payment-method-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                </div>
                            </div>
                            <div class="buttons" id="payment-method-buttons-container">
                                <div class="row justify-content-center mt-5">
                                    <div class="wop col-12 col-lg-6 text-right">
                                        <input type="button" class="button-back-checkout button-1 new-address-next-step-button white button-back-checkuot" onclick="Checkout.back(); return false; " value="@T("Back")" />
                                    </div>
                                    <div class="wop col-12 col-lg-6 text-left">
                                        <a href="#section-div-1"><input type="button" class="button-1 payment-method-next-step-button button-continue-checkuot button_payment_Method_continue" onclick="PaymentMethod.save()" value="@T("Common.Continue")" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="opc-payment_info" class="tab-section">
                        <div class="step-title accordionCheckout">
                            @*<span class="number">@paymentInfoStepNumber</span>*@
                            <span class="title-tab-checkout">@paymentInfoStepNumber. @T("Checkout.PaymentInfo")</span>
                        </div>
                        <div id="checkout-step-payment-info" class="step a-item" style="display: none;">


                            <form action="" id="co-payment-info-form" onsubmit='return validateCardNumber()'>
                                <div id="checkout-payment-info-load">
                                    @*payment info content will be loaded here*@ Payment is not required
                                </div>
                            </form>
                            <script asp-location="Footer">
                        PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                            </script>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <span class="please-wait" id="payment-info-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                                </div>
                            </div>
                            <div class="buttons" id="payment-info-buttons-container">
                                <div class="row justify-content-center mt-5">
                                    <div class="wop col-12 col-lg-6 text-right">
                                        <input type="button" class="button-back-checkout button-1 new-address-next-step-button white white button-back-checkuot" onclick="Checkout.back(); return false; " value="@T("Back")" />
                                    </div>
                                    <div class="wop col-12 col-lg-6 text-left">
                                        <a href="#section-div-1"><input type="button" class="button-1 payment-info-next-step-button button-continue-checkuot button_payment_info_continue" onclick="validateCardNumber()" value="@T("Common.Continue")" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="opc-confirm_order" class="tab-section">
                        <div class="step-title accordionCheckout">
                            @*<span class="number">@confirmOrderStepNumber</span>*@
                            <span class="title-tab-checkout">@confirmOrderStepNumber. @T("Checkout.ConfirmOrder")</span>
                        </div>
                        <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                            <div id="checkout-confirm-order-load">
                                @*confirm order content will be loaded here*@
                            </div>
                            <script asp-location="Footer">
                        ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                            </script>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <span class="please-wait" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                                </div>
                            </div>
                            <div class="buttons" id="payment-info-buttons-container">
                                <div class="row justify-content-center mt-5">
                                    <div class="wop col-12 col-lg-6 text-right">
                                        <input type="button" class="button-back-checkout button-1 new-address-next-step-button white button-back-checkuot" onclick="Checkout.back(); return false; " value="@T("Back")" />
                                    </div>
                                    <div class="wop col-12 col-lg-6 text-left">
                                        <input type="button" class="button-1 confirm-order-next-step-button button-continue-checkuot button_confirm_continue" onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OpcContentAfter })
            </div>
        </div>
    </div>
</div>
<div class="page checkout-page">
    <div class="page-body checkout-data">

    </div>
    <script asp-location="Footer">
        $(document).ready(function() {

            if ($('#ShippingNewAddress_LastName').is(":focus")) {
                console.log("habilitado");
            }
            else {
                console.log("des-habilitado");
            }

        });

        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Billing.save();
        }

        $("#ContinueCheckoutButton").click(function () {
            alert("Handler for .click() called.");
        });

        function SendFreightEmail() {
            var closeButton = document.getElementsByClassName("ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close")[0];
             var ResidentialAddress = document.getElementById("ResidentialAddress").value;
             var TractorAccessible = document.getElementById("TractorAccessible").value;
             //var trailerEnterExit = document.getElementById("trailerEnterExit").value;
             //var StandardDock = document.getElementById("StandardDock").value;
             var email = document.getElementById("EmailFeightQuote").value;
             var phoneNumber = document.getElementById("phoneNumberFeightQuote").value;

             var StandardDock = document.getElementById("StandardDock").value;
             var AppointmentDelivery = document.getElementById("AppointmentDelivery").value;
             var StandardReceiving = document.getElementById("StandardReceiving").value;



             var error = 0;
             if (ResidentialAddress == "") {
                 error++;
                 $("#ResidentialAddress").addClass("requiredBoxFreight");

             } else {
                 $("#ResidentialAddress").removeClass("requiredBoxFreight");
             }

             if (TractorAccessible == "") {
                 error++;
                 $("#TractorAccessible").addClass("requiredBoxFreight");

             } else {
                 $("#TractorAccessible").removeClass("requiredBoxFreight");
             }


             if (StandardDock == "") {
                 error++;
                 $("#StandardDock").addClass("requiredBoxFreight");

             } else {
                 $("#StandardDock").removeClass("requiredBoxFreight");
             }

             if (AppointmentDelivery == "") {
                 error++;
                 $("#AppointmentDelivery").addClass("requiredBoxFreight");

             } else {
                 $("#AppointmentDelivery").removeClass("requiredBoxFreight");
             }

             if (StandardReceiving == "") {
                 error++;
                 $("#StandardReceiving").addClass("requiredBoxFreight");

             } else {
                 $("#StandardReceiving").removeClass("requiredBoxFreight");
             }

             if (email == "") {
                 error++;
                 $("#EmailFeightQuote").addClass("requiredBoxFreight");

             } else {
                 var expr = /^(([^<>()[\]\.,;:\s@@\"]+(\.[^<>()[\]\.,;:\s@@\"]+)*)|(\".+\"))@@(([^<>()[\]\.,;:\s@@\"]+\.)+[^<>()[\]\.,;:\s@@\"]{2,})$/i

                 if (expr.test($("#EmailFeightQuote").val())) {
                     $("#EmailFeightQuote").removeClass("requiredBoxFreight");

                 } else {
                     $("#EmailFeightQuote").addClass("requiredBoxFreight");
                     error++;
                 }

             }
             if (phoneNumber == "") {
                 error++;
                 $("#phoneNumberFeightQuote").addClass("requiredBoxFreight");

             } else {
                 $("#phoneNumberFeightQuote").removeClass("requiredBoxFreight");
             }

                if (error == 0) {
                  var postData = {
                    email: 'Yes',
                    ResidentialAddress:  ResidentialAddress,
                    TractorAccessible: TractorAccessible ,
                    StandardDock: StandardDock,
                    AppointmentDelivery: AppointmentDelivery ,
                    StandardReceiving: StandardReceiving,
                    email: email,
                    phoneNumber:phoneNumber
                };
                addAntiForgeryToken(postData);

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("SendEmailFreightQuote", "Checkout"))",
                    traditional: true,
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        closeButton.click();

                         displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "AfterFreightQuote" })',
                             '@T("admin.configuration.shipping.method.afterfreightquote")');

                        setTimeout(function () {
                            var continueButtonNo = document.getElementById('NoContinueCheckoutButton');

                            if (continueButtonNo) {
                                continueButtonNo.addEventListener("click", function () { NoContinueCheckout(); }, false);
                            }

                            var continueButton = document.getElementById('ContinueCheckoutButton');
                            if (continueButton) {
                                continueButton.addEventListener("click", function () { ContinueCheckout(); }, false);
                            }



                        }, 2000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown);
                        closeButton.click();
                    }
                });
                 }

        }
        function ShowInfoUserOptions() {
            $("#checkout-step-billing").css("display", "block");
            $("#panel1").css("display", "none");
            $("#opc-ordersummary .accordionCheckout ").removeClass("active");

            $("#opc-ordersummary").removeClass("active");
            $("#opc-billing").addClass("active");
            $("#opc-billing").addClass("allow");

            //Save(0);
          //  ScrollToTop('checkout-data');
        }
        function Save(index) {

            var acordeon = document.getElementsByClassName("accordionCheckout");
            acordeon[index].classList.toggle("active");
            acordeon[index + 1].classList.toggle("active");
            var panel = document.getElementsByClassName("panel");
            panel[index].style.display = "none";
            panel[index + 1].style.display = "block";
        }

        function Back(index) {
            $("#checkout-step-billing").css("display", "none");
            $("#panel1").css("display", "block");
            $("#opc-billing .accordionCheckout ").removeClass("active");

            $("#opc-ordersummary .accordionCheckout ").addClass("active");
            $("#opc-ordersummary").addClass("active");
            $("#opc-ordersummary").addClass("allow");
            $("#opc-billing").removeClass("active");
            $("#opc-billing").removeClass("allow");

            $('.field-validation-error').hide();

        }

        function Next() {
            $("#checkout-step-billing").css("display", "none");
            $("#opc-billing").removeClass("active");
        }
        $("#flyout-cart").css("opacity", "0");

        $('#customerCompany').prop('disabled', 'disabled');


    function validateCardNameKey() {
        var CardholderName = document.getElementById("CardholderName").value;
        if (CardholderName == "") {
            error++;
            $("#CardNameJs").css("display", "block");

        } else {
            $("#CardNameJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardNumberKey() {
        var CardNumber = document.getElementById("CardNumber").value;
        if (CardNumber == "") {
            error++;
            $("#CardNumberJs").css("display", "block");


        } else {
            $("#CardNumberJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardCodeKey() {
        var CardCode = document.getElementById("CardCode").value;
        if (CardCode == "") {
            error++;
            $("#CardCodeJs").css("display", "block");

        } else {
            $("#CardCodeJs").css("display", "none");
        }
    }

    function validateDate() {
        var error = 0;
        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();

        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {


            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");

                } else {


                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                       // document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
        }

        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();
        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        error++;
                    }
                }
            }

        }
    }

         $(document).ready(function () {

             $("#ContinueCheckoutButton").click(function () {
                 alert("Handler for .click() called.");
             });

             $('#ContinueCheckoutButton').on('click',
                 function (e) {

                     ContinueCheckout();
                 });

            $('#shippingoption_Delivery').on('click',
                function (e) {
                    ShowDeliveryOptions();
                    $("#shippingMethodNext").removeClass("disabled");
                    $("#shippingMethodNext").prop("disabled", false );

                    $("#shippingMethodNext").css("opacity", "1");
                });


            $('#shippingoption').on('click',
                function (e) {
                    $("#shippingMethodNext").removeClass("disabled");
                    $("#shippingMethodNext").prop("disabled", false);

                    $("#shippingMethodNext").css("opacity", "1");
                });

            $('#shippingoption_UPS').on('click',
                function (e) {
                    $("#shippingMethodNext").removeClass("disabled");
                    $("#shippingMethodNext").prop("disabled", false);

                    $("#shippingMethodNext").css("opacity", "1");
                });

            $('#shippingoption').on('click',
                function (e) {
                    $("#shippingMethodNext").removeClass("disabled");
                    $("#shippingMethodNext").prop("disabled", false);

                    $("#shippingMethodNext").css("opacity", "1");
                });



            $('#shippingoption_FreightQuote').on('click',
                function (e) {
                    ShowFreightQuoteOptions();
                });

            $('#SendEmailButton').on('click',
                function (e) {
                    SendFreightEmail();
                });

            $('#ContinueCheckoutButton').on('click',
                function (e) {

                    ContinueCheckout();
                });

            $('#NoContinueCheckoutButton').on('click',
                function (e) {
                    ContinueCheckout();
                });

            $('#BillingShipToSameAddress').on('click',
                function (e) {
                    SetBillingShipToSameAddress();
                });

        });

    function ShowUPSOptions() {
            setTimeout(function () {
                $("#checkout-step-shipping").css("display", "block !important");
                $("#checkout-step-shipping").css("display", "block !important");
               // $("#checkout-step-shipping").addClass("displayblock");
            }, 3000);
            $('#shippingoption_PickupInStore').prop("checked", false);
             $('#shippingoption_FreightQuote').prop("checked", false);
             $('#shippingoption_Delivery').prop("checked", false);
            $("#checkout-step-shipping-method").css("display", "block");
        }

        function ShowNNDeliveryOptions() {
            var radios = document.querySelectorAll('input[type="radio"]:checked');
            radios.forEach(function (radio) {
                radio.checked = false;
            });

            setTimeout(function () {
                $("#checkout-step-shipping").css("display", "block !important");
                $("#checkout-step-shipping").css("display", "block !important");
                // $("#checkout-step-shipping").addClass("displayblock");
            }, 3000);
            $('#shippingoption_PickupInStore').prop("checked", false);
            $('#shippingoption_FreightQuote').prop("checked", false);
           // $('#shippingoption_UPS').prop("checked", false);

            $('#shippingoption').prop("checked", false);

            $('#shippingoption_Delivery').prop("checked", true);
            $('#shippingoption_Delivery').prop("checked", true);

            $("#checkout-step-shipping-method").css("display", "block");

            $('#shippingoption_ShippingService').prop("checked", true);
            $('#ShippingRateComputationMethodSystemName-div').hide();
            $('.shipping-method').show();
            $('#send-request-div').show();
            $('#pickup-points-form').hide();
            $('#PickupInStore').val("false");

            $('#shippingoption_Delivery').prop("checked", true);

        }

    function ShowFreightQuoteOptions() {
        /* $('#shippingoption_Delivery').prop("checked", false);*/
        $('#shippingoption_UPS').prop("checked", false);
        $("#shippingMethodNext").addClass("disabled");
        $('#shippingoption_Delivery').prop("checked", false);

        $("#shippingMethodNext").css("opacity", "0.5");
        // $("#checkout-step-shipping-method").css("display", "none");

        $("#shippingMethodNext").addClass("disabled");
        $("#shippingMethodNext").css("opacity", "0.5");
        $("#shippingMethodNext").prop("disabled", true);

        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "FreightQuote" })',
            '@T("admin.configuration.shipping.method.freightquote")');

        setTimeout(function () {
            var sendButton = document.getElementById('SendEmailButton');
            if (sendButton) {
                sendButton.addEventListener("click", function () { SendFreightEmail(); }, false);
            }

            var sendButton_1 = document.getElementById('NoContinueCheckoutButton');
            if (sendButton_1) {
                sendButton_1.addEventListener("click", function () { ContinueCheckout(); }, false);
            }
        }, 2000);
    }

    function ContinueCheckout() {
        var closeButton = document.getElementsByClassName("ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close")[0];
        closeButton.click();
    }

    function NoContinueCheckout() {
        var closeButton = document.getElementsByClassName("ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close")[0];
        closeButton.click();

        setLocation('@(Url.RouteUrl("Homepage"))');
    }

    function Next() {
            $("#checkout-step-billing").css("display", "none");
            $("#opc-billing").removeClass("active");
        }

    </script>
</div>


<style>
    .allow {
        background-color: #eee;
    }

    .accordionCheckout, .opc .allow .step-title {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        height: 60px;
        border: none;
        text-align: center;
        text-align-last: center;
        outline: none;
        font-size: 25px;
        transition: 0.4s;
        font-weight: 600;
    }

    .opc .active .step-title {
        background-color: #fff;
        border-bottom: #808080 2px solid;
        font-weight: 600;
    }

    .active, .accordion:hover {
        background-color: #fff;
        border-bottom: gray 2px solid;
    }

    .accordionCheckout:after {
        /*content: '\02227';*/
        color: red;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        color: red;
        /*content: "\02228";*/
        font-weight: bold;
        height: 60px;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    /* The container */
    .containerRadio {
        display: block;
        position: relative;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 18px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: left;
        padding-left: 40px;
    }

        /* Hide the browser's default radio button */
        .containerRadio input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .containerRadio:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .containerRadio input:checked ~ .checkmark {
        background-color: #EAE4E3;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .containerRadio input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .containerRadio .checkmark:after {
        top: 4px;
        left: 4px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #2196f3 !important;
        right: 4px;
        bottom: 4px;
    }

    label > input[type=radio] {
        vertical-align: initial;
        margin-top: -2px;
    }

    .containerSecond {
        margin: 25px;
        max-width: 50%;
    }

    .heigth {
        height: 50px !important;
        padding-top: 14px;
    }

    .left {
        text-align: left;
        padding-left: 25px;
    }

    .white {
        background-color: white !important;
        color: red !important;
        border: 1px solid red !important;
        border-radius: 5px !important;
        width: 220px;
        height: auto;
    }

    .blue {
        background-color: #4FC3F7 !important;
    }

    .border {
        border-radius: 5px !important;
    }

    .blue:hover {
        background-color: #248ece;
    }

    .blue {
        display: inline-block;
        min-width: 140px;
        border: none;
        background-color: #4ab2f1;
        padding: 10px 30px;
        text-align: center;
        font-size: 15px;
        color: #fff;
        text-transform: uppercase;
        width: 220px;
    }

    .between-button {
        margin-left: 28px;
    }

    .displayblock {
        display: block;
    }

    .ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
        display: none;
    }

    .ui-button .ui-corner-all .ui-widget .ui-button-icon-only .ui-dialog-titlebar-close {
        display: none;
    }
</style>

<script>

    $("#opc-ordersummary .shipping-cost .value-summary").html("");
    $("#opc-ordersummary .shipping-cost .value-summary").html("Calculated during checkout");
    $("#opc-ordersummary .shipping-cost .value-summary").css("font-weight", "100");
    $("#opc-ordersummary .cart-total .tax-value .value-summary").html("");
    $("#opc-ordersummary .cart-total .tax-value .value-summary").html("Calculated during checkout");
    $("#opc-ordersummary .cart-total .tax-value .value-summary").css("font-weight", "100");
    $("#opc-ordersummary .total").html("");
    $("#opc-ordersummary .total").html("Calculated during checkout");

    $("#opc-ordersummary .cart-summary-footer").css("display", "none");
    $("#divRelatedProductsBox").css("display", "none");
    $("#shopping-cart-form-sumary #ClearShoppingCart").css("display", "none !important");



</script>

<script>

    function showOptions(div) {
        $("#" + div).toggle(); 

    }

    function selectItem(idAddress, selectId, div, text, selectOrigin) {

        let select = document.getElementById(selectOrigin);
        select.value = idAddress;
        

        //alert(idAddress + "-" + selectId + "-" + div);

        $("#" + selectId).toggle();

        $("#" + div).html(text);
        $("#PoNumber").removeClass("requiredBoxFreight");

        $("#PoNumberValidate").addClass("displaynone");

        var checkbox = document.getElementById("shippingoption_PickupInStore");

        if (idAddress != "4___Pickup.PickupInStore" ) {
            $(".content_pickupPersonNote").css("display", "block")
        } else {
            $(".content_pickupPersonNote").css("display", "none")
        }

    }

    function ValidPONumber() {
        var error = 0;
        $("#PoNumber").removeClass("requiredBoxFreight");
        var PoNumber = document.getElementById("PoNumber").value;
        if (PoNumber == "" || PoNumber == null) {
            // $("#PoNumber").css("border", "1px solid red !important");
            $("#PoNumber").addClass("requiredBoxFreight");
            $("#PoNumberValidatePo").removeClass("displaynone");
        }
        else {
            var sendButton = document.getElementById('PoNumber');
            if (sendButton) {
                Billing.save();
            }

            $("#PoNumber").removeClass("requiredBoxFreight");
            $("#PoNumberValidatePo").addClass("displaynone");
        }



        var Id = document.getElementById("Id");
        if (Id == "" || Id == null) {

            if (PoNumber == "" || PoNumber == null) {
                // $("#PoNumber").css("border", "1px solid red !important");
                $("#PoNumber").addClass("requiredBoxFreight");
                $("#PoNumberValidatePo").removeClass("displaynone");
            } else {
                $("#PoNumber").removeClass("requiredBoxFreight");
                $("#PoNumberValidatePo").addClass("displaynone");
            }
            Billing.save();
        }
        else {

            var BillingNewAddress_Id = document.getElementById("BillingNewAddress_Id");

            if (BillingNewAddress_Id == "" || BillingNewAddress_Id == null) {
                if (PoNumber == "" || PoNumber == null) {
                    // $("#PoNumber").css("border", "1px solid red !important");
                    $("#PoNumber").addClass("requiredBoxFreight");
                    $("#PoNumberValidatePo").removeClass("displaynone");
                } else {
                    $("#PoNumber").removeClass("requiredBoxFreight");
                    $("#PoNumberValidatePo").addClass("displaynone");
                }
                Billing.save();
            }

        }
    }

    $(".ui-dialog-titlebar").addClass("displaynone");

</script>

<style>
    .div-select-options {
        position: absolute;
        width: 100%;
        padding: 5px;
        padding-left: 10px !important;
        z-index: 100000;
        margin-top: 40px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #FFFFFF;
        text-align: left !important;
        font-size: 1.08rem !important;
    }

    .option-selected {
        border: 1px solid #ddd;
        padding: 5px;
        padding-left: 10px !important;
        border-radius: 0;
        width: 100%;
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        background-color: #FFFFFF;
        padding-right: 30px;
        text-align: left;
        font-size: 1.08rem !important;
    }

    .div-select-options-SM {
        position: absolute;
        width: 100%;
        padding: 5px;
        padding-left: 10px !important;
        z-index: 100000;
        margin-top: 40px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #FFFFFF;
        text-align: left !important;
        font-size: 0.795rem !important;
    }

    .option-selected-SM {
        border: 1px solid #ddd;
        padding: 5px;
        padding-left: 10px !important;
        border-radius: 0;
        width: 100%;
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        background-color: #FFFFFF;
        padding-right: 30px;
        text-align: left;
        font-size: 0.795rem !important;
    }

    .option-selected, .option-selected:hover,
    .div-select-option a {
        cursor: pointer;
        color: #495057;
    }

    .select-pickup-points {
        padding-left: 85px;
    }


    @@media (max-width: 800px) {
        .option-selected,
        .div-select-options {
            width: 92%;
        }

        .displayNone {
            display: none !important;
        }

        .img-shipping-address {
            top: 68px !important;
            left: 89% !important;
        }

        .img-billing-address {
            top: 68px !important;
            left: 89% !important;
        }

        .img-option-shipping {
            top: 10px !important;
            left: 95% !important;
        }

        .select-pickup-points {
            padding-left: 0px;
        }
    }
</style>



