@model CheckoutPaymentInfoModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-info-page");
}

<div class="page-title title-paylater">
    <h1 class="mt-5">@T("Checkout.OrderSummay")</h1>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="page-title">
                    <h1>@T("Checkout.PaymentInfo")</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentInfoTop })
                <div class="section payment-info">
                    <div style="width: 100%">
                        <div id="myid"></div>
                        <div id="myidfecha"></div>
                        <div id="myidcvc"></div>
                    </div>

                    <form asp-route="RetryPaymentInfo" method="post" name="paymentMethod" class=" paymentMethod " onsubmit='return validateCardNumber()'>

                        <div>
                            <div class="design1div_left">

                            </div>
                        </div>
                        <div class="design1div_rigth">

                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="row">
                                        @if (Model.PaymentsCards?.profile != null)
                                        {
                                            if (Model.PaymentsCards.profile.paymentProfiles != null)
                                            {
                                                @foreach (var item in Model.PaymentsCards.profile.paymentProfiles)
                                                {
                                                    var expirationDate = item.payment.creditCard.expirationDate;
                                                    var isExpired = false;
                                                    if (expirationDate != "XXXX")
                                                    {
                                                        var expD = expirationDate.Split('-');
                                                        if (expD[0] != null && expD[1] != null)
                                                        {
                                                            var year = Convert.ToInt32(expD[0]);
                                                            var month = Convert.ToInt32(expD[1]);

                                                            if (year < DateTime.Now.Year)
                                                            {
                                                                isExpired = true;
                                                            }


                                                            if (year < DateTime.Now.Year && month < DateTime.Now.Day)
                                                            {
                                                                isExpired = true;
                                                            }
                                                        }
                                                    }

                                                    <div class="col-md-6 input-customer">
                                                        <div class="form-control pay-target">
                                                            <div class="row">
                                                                <div class="col-auto d-flex">
                                                                    @if (isExpired)
                                                                    {

                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="checkbox" name="group1[]" class="infoCreditCard my-auto" value="@item.customerPaymentProfileId" style="float: left;" />
                                                                    }

                                                                </div>
                                                                <div class="col-auto d-flex p-0">
                                                                    <div class="my-auto" style="float: initial; text-align: left; margin-left: 3px;">@item.payment.creditCard.cardType - @item.payment.creditCard.cardNumber</div>
                                                                    @if (isExpired)
                                                                    {
                                                                        <div style=" font-style: normal; font-weight: normal; font-size: 12px; line-height: 1.023rem; color: #e44436; margin: auto; margin-left: 6px;">@T("expirationDate.cc")</div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>

                                                        @*<div class="form-control pay-target">



                                                            </div>*@
                                                    </div>
                                                }



                                            }
                                            else
                                            {
                                                <div class="col-md-6 input-customer">
                                                    <p style="float: initial; margin-left: 8%;">No credit cards have been loaded</p>
                                                </div>
                                            }
                                        }

                                        <div class="col-md-6 input-customer">
                                            <div class="form-control pay-target">
                                                <div class="row">
                                                    <div class="col-auto d-flex">
                                                        <input type="checkbox" name="group1[]" class="my-auto" id="AddNewCard" value="AddNewCard" style="float: left;" />
                                                    </div>
                                                    <div class="col-auto d-flex p-0">
                                                        <p class="my-auto" style="float: initial;">Add new card</p>
                                                        <a href="javascript:;" style="float: right; margin-top: -34px;"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                            <div class="info displayNone paywithcard" style="display: none;">
                                                <div class="row justify-content-center">
                                                    <div class="col-12 text-center">
                                                        @await Component.InvokeAsync(Model.PaymentViewComponentName)
                                                        @if (!Model.IsGuest)
                                                        {
                                                            <div class="row justify-content-center text-payment-info mt-3">
                                                                <div class="col-lg-12">
                                                                    <div class="row shippingoptionSaveCard displayNone">
                                                                        <div class="col-auto d-flex">
                                                                            <input type="checkbox" name="shippingoptionSaveCard" class="my-auto" />
                                                                        </div>
                                                                        <div class="col-auto d-flex p-0">
                                                                            <label class="my-auto">Save for future payments </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    @await Component.InvokeAsync("OrderDetailPayLater")
                                </div>
                            </div>



                            <div class="buttons">
                                <div class="row justify-content-center mt-5">
                                    <div class="col-lg-5 text-right">
                                        <a href="/order/history">
                                            <button class="button-1 new-address-next-step-button white white button-back-checkuot" type="button">
                                                Back
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-lg-5 text-left">
                                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="button-1 button-continue-checkuot" />
                                    </div>
                                </div>


                            </div>
                                                        
                        </div>


                    </form>
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutPaymentInfoBottom })
            </div>
        </div>

    </div>
</div>

<style>
    .input-customer {
        padding: 10px;
    }

    .pay-target {
        margin-bottom: 10px;
    }

        .pay-target input[type="checkbox"] {
            width: 1.3em;
            height: 1.3em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #ddd;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            margin-top: 0px;
        }

            .pay-target input[type="checkbox"]:checked {
                background-color: deepskyblue;
            }
</style>
<script>

    $('#customerCompany').prop('disabled', 'disabled');


    $('#AddNewCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido seleccionado
            $(".paywithcard").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $(".paywithcard").css("display", "block");
            $("#InfoCreditCard").html("");
            $(".shippingoptionSaveCard").removeClass("displayNone");
            $(".shippingoptionSaveCard").css("display", "");
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".shippingoptionSaveCard").css("display", "none");

        }
    });

    $('.infoCreditCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $("#CardholderName").css("border", "1px solid #ddd");
            $("#CardNumber").css("border", "1px solid #ddd");
            $("#CardCode").css("border", "1px solid #ddd");
            $("#ExpireMonth").css("border", "1px solid #ddd");
            $("#ExpireYear").css("border", "1px solid #ddd");
            $(".shippingoptionSaveCard").css("display", "none");
            $(".shippingoptionSaveCard").addClass("displayNone");

            $('#ExpireYear').css("border", "1px solid #ddd");
            $('#ExpireMonth').css("border", "1px solid #ddd");
            document.getElementById('myidfecha').innerHTML = "";

        }
    });

    var input = document.getElementById("ExpireMonth");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date  = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                     //   document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

    var input = document.getElementById("ExpireYear");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                       // document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

    $('.infoCreditCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
            $("#CardholderName").css("border", "1px solid #ddd");
            $("#CardNumber").css("border", "1px solid #ddd");
            $("#CardCode").css("border", "1px solid #ddd");
            $("#ExpireMonth").css("border", "1px solid #ddd");
            $("#ExpireYear").css("border", "1px solid #ddd");
            $(".shippingoptionSaveCard").css("display", "none");
            $("#myidfecha").addClass("displayNone");

            $(".message-error ").css("display", "none");
            $("#CardholderName-error").css("display", "none");
            $("#CardNameJs").css("display", "none");
            $("#CardNumberJs").css("display", "none");
            $("#DateJs").css("display", "none");
            $("#CardCodeJs").css("display", "none");
        }
    });

    $('#AddNewCard').on('click', function () {
        if ($(this).is(':checked')) {
            // Hacer algo si el checkbox ha sido seleccionado
            $(".paywithcard").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".paywithcard").css("display", "");
            $(".shippingoptionSaveCard").removeClass("displayNone");
            $(".shippingoptionSaveCard").css("display", "");
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
            $(".paywithcard").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".shippingoptionSaveCard").css("display", "none");
        }
    });

    //$(document).ready(function () {
    //    $('input[type=checkbox]').live('click', function () {
    //        var parent = $(this).parent().attr('id');
    //        $('#' + parent + ' input[type=checkbox]').removeAttr('checked');
    //        $(this).attr('checked', 'checked');
    //    });
    //});

    $('input[type="checkbox"]').on('change', function () {

        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });




    function validateCardNumber() {
        var error = 0;
        if (document.getElementById('AddNewCard').checked) {


            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();

            
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }

            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();

            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
            var CardholderName = document.getElementById("CardholderName").value;
            if (CardholderName == "") {
                error++;
                //$('#CardNumberJs').val(@T("EntercardNumber"));

            } else {
                //  $('#CardNumberJs').val();
            }

            var CardNumber = document.getElementById("CardNumber").value;
            if (CardNumber == "") {
                error++;
                $("#CardNumberJs").css("display", "block");
                //$('#CardNumber').val(@T("EntercardNumber"));

            } else {
                $("#CardNumberJs").css("display", "none");
                // $('#CardNumber').val();
            }

            var CardCode = document.getElementById("CardCode").value;
            if (CardCode == "") {
                error++;
                $("#CardCodeJs").css("display", "block");

            } else {
                $("#CardCodeJs").css("display", "none");
            }
        } else {

        }



        if (error == 0) {
            return true;
        } else {
            return false;
        }

    }

    function checkDigit(event){ 
        var  str = document.getElementById(event.id).value;
        for (var i = 0; i < str.length; i++) {
            if (isNaN(str.charAt(i))) { //is not number
                    document.getElementById(event.id).value = "";
            }
        }    
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function validateCardNameKey() {
        var CardholderName = document.getElementById("CardholderName").value;
        if (CardholderName == "") {
            error++;
            $("#CardNameJs").css("display", "block");

        } else {
            $("#CardNameJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardNumberKey() {
        var CardNumber = document.getElementById("CardNumber").value;
        if (CardNumber == "") {
            error++;
            $("#CardNumberJs").css("display", "block");


        } else {
            $("#CardNumberJs").css("display", "none");
            // $('#CardNumber').val();
        }
    }

    function validateCardCodeKey() {
        var CardCode = document.getElementById("CardCode").value;
        if (CardCode == "") {
            error++;
            $("#CardCodeJs").css("display", "block");

        } else {
            $("#CardCodeJs").css("display", "none");
        }
    }

    function validateDate() {
        var error = 0;
        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();

        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {


            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");

                } else {


                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                        document.getElementById('myidfecha').innerHTML = "";
                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        //document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                        error++;
                    }
                }
            }
        }

        var mes = document.getElementById("ExpireMonth").value;
        var annio = document.getElementById("ExpireYear").value;
        var date = new Date();
        if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

            $("#DateJs").css("display", "none");
        } else {
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    $("#DateJs").css("display", "none");
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                        $("#DateJs").css("display", "none");
                    } else {
                        $("#DateJs").css("display", "block");
                        error++;
                    }
                }
            }

        }
    }


</script>
