@model IList<CategoryModel>
@if (Model.Count > 0)
{
    <div class="row d-flex justify-content-center" style="margin-top:0.5rem">
        <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
            <div>
                <div class="row mt-3 mb-5">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-inline">
                            <div class="col-10 col-sm-2 col-md-2 col-lg-3">
                                <strong class="title-homepage-productos">@T("admin.catalog.products.fields.categories")</strong>
                            </div>
                            <div style="height: 3px; background: #B0BEC5;" class="col-2 col-sm col-md col-lg">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    @{
                        var contPrincipal = 0;
                    }


                    @foreach (var item in Model.Take(12))
                    {
                        <div class="col-6 zone-item-category-mobile">
                            <div class="card text-center">
                                <div class="card-body item-category-mobile" style="background-image: url(@item.PictureModel.ImageUrl);">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" class="btn btn-primary">@item.Name</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-sm-4 col-md-3 mb-3 p-3 d-flex flex-wrap categoryList zone-item-category-desktop">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title" class="row m-0 card-categories d-flex flex-wrap align-content-center">
                                <div class="col-12 text-category-div">
                                    <div style="color: #e44436; background: #eceff1; border-radius: 8px; padding: 4px; margin-top: 18px; font-weight: 700" class="text-center">
                                        @item.Name
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div style="width: 100%; height: 12rem; margin: 15px 0;" class="d-flex">
                                        <img class="img-fluid mx-auto my-auto img-custom-rounded" onclick="window.location.href='@Url.RouteUrl("Category", new { SeName = item.SeName })'" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" style="max-height: 100%;" />
                                    </div>
                                </div>
                                <div class="col-12 text-category-div">
                                    @Html.Raw(item.Description)
                                </div>
                                <div class="backColor"></div>
                                <div class="backImg" style="        background: url( @item.PictureModel.ImageUrl ) center center / cover no-repeat scroll;
        width: 450PX;"></div>
                                <div class="frontColor d-flex align-items-center">
                                    <div style="color: #e44436; background: #eceff1; border-radius: 8px; padding: 4px; font-weight: 700" class="text-center w-100">
                                        @item.Name
                                    </div>
                                </div>
                            </a>
                        </div>

                        @*if (contPrincipal == 2 || contPrincipal == 5 || contPrincipal == 8)
            {
                <div class="col-md-12"><br /></div>
            }*@

                        contPrincipal = contPrincipal + 1;

                    }
                </div>
            </div>

        </div>
    </div>
}
<div class="row d-flex justify-content-center">
    <div class="col-sm-11 col-md-11 col-lg-11 mt-5">
        <div class="row mt-3 mb-5">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-inline">
                    <div class="col-10 col-sm-2 col-md-2 col-lg-3">
                        <strong class="title-homepage-productos">@T("Home.Discovery")</strong>
                    </div>
                    <div style="height: 3px; background: #B0BEC5;" class="col-2 col-sm col-md col-lg">
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col-sm-12 col-md-12 col-lg-12">
                @*@await Component.InvokeAsync("TopicBlock", new { systemName = "Discovery" })*@
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "Discovery" })
                        @*<img src="/images/uploaded/DiscoveryBannerInfo.png" alt="" class="img-fluid" />*@
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="row h-100">
                            <div class="col-sm-12 col-md-12 col-lg-12 my-auto">
                                <div class="mb-5" style=" font-weight: 500; font-size: 2.2rem; line-height: 3rem;">
                                    <span style="color: #E44436; ">@T("home.discoverytitleNN")    </span> @T("home.discoverytitle")
                                </div>
                                <div class="mb-5" style=" font-weight: 500; font-size: 2.2rem; line-height: 3rem;">
                                    <p class="mt-1 mb-5" style=" font-style: normal; font-weight: normal; font-size: 1rem; line-height: 1.5rem; color: #546E7A; text-align: left;">
                                        @T("home.viewmoredescription")
                                    </p>
                                    <a class="baseButtonRoundedRed btn-viewmore" href="@T("home.discoveryUrl")">
                                        @T("home.viewmore")
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    