@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}

<div class="row d-flex justify-content-center colorGeneralBackgroundGray pb-3">
    <div class="wop col-sm-11 col-md-11 col-lg-11">
        <h1 class="p-4">@T("PageTitle.ContactUs")</h1>
    </div>
</div>

<div class="row d-flex mt-4">
    <div class="col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-sm-11 col-md-11 col-lg-11">
        <div class="row">
            <div class="col-md-12">
                <div class="contacts-list-info contacts-list-info-mobile">
                    <strong style="color: #37AEF3">@Model.Result</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 contact-page-version-mobile">
                <iframe src="https://5233917.extforms.netsuite.com/app/site/crm/externalcasepage.nl/compid.5233917/.f?formid=1&h=AAFdikaIRMlrvbguPB82YWTDlVio0dG0qA_OCFVU8wpdzL3bgxQ&redirect_count=1&did_javascript_redirect=T" style="        width: 100%;
        height: 730px;
        border: none;
  "></iframe>

                <!--<form asp-route="ContactUs" method="post">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <div class="row">
            <div class="col-12">
                <div class="form-fields-label">
                    <label asp-for="FullName" asp-postfix=":"></label>
                    <nop-required />
                </div>
            </div>
            <div class="col-12">
                <div class="inputs form-fields-inputs">
                    <input asp-for="FullName" class="fullname" maxlength="20" />
                    <span asp-validation-for="FullName"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-fields-label">
                    <label asp-for="LastName" asp-postfix=":"></label>
                    <nop-required />
                </div>
            </div>
            <div class="col-12">
                <div class="inputs form-fields-inputs">
                    <input asp-for="LastName" class="fullname" maxlength="20" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-fields-label">
                    <label asp-for="Email" asp-postfix=":"></label>
                    <nop-required />
                </div>
            </div>
            <div class="col-12">
                <div class="inputs form-fields-inputs">
                    <input asp-for="Email" class="email" maxlength="100" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-fields-label">
                    <label asp-for="PhoneNumber" asp-postfix=":"></label>
                </div>
            </div>
            <div class="col-12">
                <div class="inputs form-fields-inputs">
                    <input asp-for="PhoneNumber" class="phone" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-fields-label">
                    <label asp-for="Company" asp-postfix=":"></label>
                </div>
            </div>
            <div class="col-12">
                <div class="inputs form-fields-inputs">
                    <input asp-for="Company" class="fullname" maxlength="50" />
                </div>
            </div>
        </div>
        <div class="fieldset" style="">
            <div class="form-fields">
                @if (Model.SubjectEnabled)
                {
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-fields-label">
                                <label asp-for="Subject" asp-postfix=":"></label>
                                <nop-required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="inputs form-fields-inputs">
                                <input asp-for="Subject" class="subject" style="width:100%;" maxlength="50" />
                                <span asp-validation-for="Subject"></span>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="form-fields-label">
                            <label asp-for="Enquiry" asp-postfix=":"></label>
                            <nop-required />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="inputs form-fields-inputs">
                            <textarea asp-for="Enquiry" class="enquiry" style="width:100%;" maxlength="999"></textarea>
                            <span asp-validation-for="Enquiry"></span>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="captcha-box">-->
                -->
                <!--@*<nop-captcha />*@-->
                <!--<!--</div>
        </div>
    </div>-->
                <!--<script>
        window.onload = function () {
            var iframes = document.getElementsByTagName('iframe');

            for (var i = 0; i < iframes.length; i++) {

                if (screen.width > 1600) {
                    iframes[i].width = 310;
                    iframes[i].height = 100;
                } else {
                    if (screen.width > 1366 && screen.width < 1600) {
                        iframes[i].width = 380;
                        iframes[i].height = 100;
                    } else {
                        iframes[i].width = 310;
                        iframes[i].height = 100;
                    }

                }

            }
        };
    </script>

    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="buttons">
                <input type="submit" name="send-email" id="send-email" class="baseButtonRoundedBlue" value="@T("ContactUs.Button")" />
            </div>
        </div>
    </div>-->
                @*<div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div class="contact-us-messages">
                                    <strong>@T("ContactUs.message.advertice") </strong>&nbsp;<div class="red"><strong>@T("ContactUs.message.advertice.thankyou")</strong></div>
                                </div>
                            </div>
                        </div>
        </div>
                </div>
            </form>-->*@
            </div>
            <div class="col-lg-6 contact-page-version-desktop">

                <iframe src="https://5233917.extforms.netsuite.com/app/site/crm/externalcasepage.nl/compid.5233917/.f?formid=1&h=AAFdikaIRMlrvbguPB82YWTDlVio0dG0qA_OCFVU8wpdzL3bgxQ&redirect_count=1&did_javascript_redirect=T" style="        width: 100%;
        height: 730px;
        border: none;
  "></iframe>



                <!--<form asp-route="ContactUs" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset" style="">
                        <div class="form-fields">
                            <div class="row">
                                <div class="col-12 col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-fields-label">
                                        <label asp-for="FullName" asp-postfix=":"></label>
                                        <nop-required />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-fields-label">
                                        <label asp-for="LastName" asp-postfix=":"></label>
                                        <nop-required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="inputs form-fields-inputs">
                                        <input asp-for="FullName" class="fullname" maxlength="20" />
                                        <span asp-validation-for="FullName"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="inputs form-fields-inputs">
                                        <input asp-for="LastName" class="fullname" maxlength="20" />
                                        <span asp-validation-for="LastName"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-fields-label">
                                        <label asp-for="Email" asp-postfix=":"></label>
                                        <nop-required />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-fields-label">
                                        <label asp-for="PhoneNumber" asp-postfix=":"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="inputs form-fields-inputs">
                                        <input asp-for="Email" class="email" maxlength="100" />
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="inputs form-fields-inputs">
                                        <input asp-for="PhoneNumber" class="phone" maxlength="20" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-fields-label">
                                        <label asp-for="Company" asp-postfix=":"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="inputs form-fields-inputs">
                                        <input asp-for="Company" class="fullname" maxlength="50" />
                                    </div>
                                </div>
                            </div>

                            @if (Model.SubjectEnabled)
                            {
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <div class="form-fields-label">
                                            <label asp-for="Subject" asp-postfix=":"></label>
                                            <nop-required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <div class="inputs form-fields-inputs">
                                            <input asp-for="Subject" class="subject" style="width:100%;" maxlength="50" />
                                            <span asp-validation-for="Subject"></span>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-fields-label">
                                        <label asp-for="Enquiry" asp-postfix=":"></label>
                                        <nop-required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="inputs form-fields-inputs">
                                        <textarea asp-for="Enquiry" class="enquiry" style="width:100%;" maxlength="999"></textarea>
                                        <span asp-validation-for="Enquiry"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="captcha-box">-->
                                        @*<nop-captcha />*@
                                    <!--</div>
                                </div>
                            </div>


                            <script>
                                window.onload = function () {
                                    var iframes = document.getElementsByTagName('iframe');

                                    for (var i = 0; i < iframes.length; i++) {

                                        if (screen.width > 1600) {
                                            iframes[i].width = 310;
                                            iframes[i].height = 100;
                                        } else {
                                            if (screen.width > 1366 && screen.width < 1600) {
                                                iframes[i].width = 380;
                                                iframes[i].height = 100;
                                            } else {
                                                iframes[i].width = 310;
                                                iframes[i].height = 100;
                                            }

                                        }

                                    }
                                };
                            </script>

                            <br />
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="buttons">
                                        <input type="submit" name="send-email" id="send-email" class="baseButtonRoundedBlue" value="@T("ContactUs.Button")" />
                                    </div>
                                </div>
                            </div>-->
                            @*<div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <div class="contact-us-messages">
                                        <strong>@T("ContactUs.message.advertice") </strong>&nbsp;<div class="red"><strong>@T("ContactUs.message.advertice.thankyou")</strong></div>
                                    </div>
                                </div>
                            </div>*@
                        <!--</div>
                    </div>
                </form>-->
            </div>

            <div class="col-lg-6">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
                @if (Model.SuccessfullySent)
                {
                    <div class=" p-5" style="border-radius: 8px 0px 0px 8px; ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contacts-list-info contacts-list-info-desktop">
                                    <strong style="color: #37AEF3">@Model.Result</strong>
                                </div>
                            </div>
                        </div>

                        <script>
                            ClearFields();
                            function ClearFields() {
                                document.getElementById("FullName").value = null;
                                document.getElementById("LastName").value = null;
                                document.getElementById("Email").value = null;
                                document.getElementById("Subject").value = null;
                                document.getElementById("Company").value = null;
                                document.getElementById("PhoneNumber").value = null;
                                document.getElementById("Enquiry").value = null;
                            }
                        </script>
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
                    </div>

                }
                else
                {
                    <div class="colorGeneralBackgroundGray p-5 space-contact" style="border-radius: 8px 0px 0px 8px; ">
                        @* <div class="row mb-1">
                              <div class="col-md-12 contact-us-title">
                                  @T("contactus")
                              </div>
                          </div>
                        <div class="row mb-5">
                              <div class="col-md-12 contact-us-title" style="font-family: Arial">
                                  @T("store.contactus.phone")
                              </div>
                          </div>*@
                        <div class="row ">
                            <div class="col-md-12 mb-4">
                                <div class="contact-us-subtitle mb-2">
                                    @T("atlanta.office")
                                </div>
                                <div class="contact-us-subtitle-inner mb-1">
                                    <i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("atlanta.office.phone")" style="font-family: Arial"> @T("atlanta.office.phone")</a>
                                </div>
                                <div class="contact-us-subtitle-inner mb-1">
                                    <i class="nn- nn-message footer-icon-size"></i><a href="mailto:@T("atlanta.office.email")"> @T("atlanta.office.email")</a>
                                </div>

                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="contact-us-subtitle mb-2">
                                    @T("cincinnati.office")
                                </div>

                                <div class="contact-us-subtitle-inner mb-1">
                                    <i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("cincinnati.office.phone")" style="font-family: Arial"> @T("cincinnati.office.phone")</a>
                                </div>
                                <div class="contact-us-subtitle-inner mb-1">
                                    <i class="nn- nn-message footer-icon-size"></i><a href="mailto:@T("cincinnati.office.email")"> @T("cincinnati.office.email")</a>
                                </div>
                            </div>
                            <div class="col-md-12 mb-4">
                                <div class="contact-us-subtitle mb-2">
                                    @T("nashville.office")
                                </div>

                                <div class="contact-us-subtitle-inner mb-1">
                                    <i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("nashville.office.phone")" style="font-family: Arial"> @T("nashville.office.phone")</a>
                                </div>
                                <div class="contact-us-subtitle-inner mb-1">
                                    <i class="nn- nn-message footer-icon-size"></i><a href="mailto:@T("nashville.office.email")"> @T("nashville.office.email")</a>
                                </div>
                            </div>
                        </div>
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*<div class="shared-contactus-page-mobile">
    <div id="social-network-version-mobile" class="row">
        <div class="col-6" style="text-align: left !important; color: #212529 !important;">
            <b>Shared in</b>
        </div>
        <div class="col-6"  style="text-align: right !important;">
            <a href="https://www.facebook.com/NNMovingSupply/" target="_blank"><i class="nn- nn-facebook"></i></a>
            <a href="https://twitter.com/nnmovingsupply" target="_blank"><i class="nn- nn-twitter"></i></a>
            <a href="https://www.instagram.com/nnmovingsupply/" target="_blank"><i class="nn- nn-instagram"></i></a>
        </div>
    </div>
</div>*@

<script>
    $('#send-email').on('click',
        function (e) {
            var error = 0;
            var FullName = document.getElementById("FullName").value;
            var LastName = document.getElementById("LastName").value;
            var Email = document.getElementById("Email").value;
            var Subject = document.getElementById("Subject").value;
            var Enquiry = document.getElementById("Enquiry").value;

            if (FullName == "") {
                error++;
            }
            if (LastName == "") {
                error++;
            }
            if (Email == "") {
                error++;
            }
            if (Subject == "") {
                error++;
            }
            if (Enquiry == "") {
                error++;
            }
            if (error == 0) {
                $("#send-email").removeClass("disabled");
                $("#send-email").css("cursor", "wait");
                $("#send-email").css("opacity", "0.5");
            }
        });
</script>
