@model AddressModel


<input asp-for="Id" type="hidden" />
<fieldset disabled>
    <div class="edit-address accountCustomerAddress">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 space2">
                <div class="form-group">
                    <label asp-for="FirstName" asp-postfix=":" class="address-box-firs-name"></label>
                    <input asp-for="FirstName" class="form-control address-box-form-input" maxlength="100" />
                    @*<nop-required />*@
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="col-12 col-md-4 space2">
                <div class="form-group">
                    <label asp-for="LastName" asp-postfix=":" class="address-box-firs-name"></label>
                    <input asp-for="LastName" class="form-control address-box-form-input" maxlength="100" />
                    @*<nop-required />*@
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-4 space2">
                <div class="form-group">
                    <label asp-for="Email" asp-postfix=":" class="address-box-firs-name"></label>
                    <input asp-for="Email" class="form-control address-box-form-input" maxlength="100" />
                    @*<nop-required />*@
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="col-12 col-md-4 space2">
                @if (Model.CompanyEnabled)
                {
                    <div class="form-group">
                        <label asp-for="Company" asp-postfix=":" class="address-box-firs-name"></label>
                        <input asp-for="Company" class="form-control address-box-form-input" maxlength="100" />
                        @if (Model.CompanyRequired)
                        {
                            @*<nop-required />*@
                        }
                        <span asp-validation-for="Company"></span>
                    </div>
                }
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-4 space2">

                @if (Model.StreetAddressEnabled)
                {
                    <div class="form-group">
                        <label asp-for="Address1" asp-postfix=":" class="address-box-firs-name"></label>
                        <input asp-for="Address1" class="form-control address-box-form-input" maxlength="100" />
                        @if (Model.StreetAddressRequired)
                        {
                            @*<nop-required />*@
                        }
                        <span asp-validation-for="Address1"></span>
                    </div>
                }

            </div>

            <div class="col-12 col-md-4 space2">

                @if (Model.StreetAddress2Enabled)
                {
                    <div class="form-group">
                        <label asp-for="Address2" asp-postfix=":" class="address-box-firs-name"></label>
                        <input asp-for="Address2" class="form-control address-box-form-input" maxlength="100" />
                        @if (Model.StreetAddress2Required)
                        {
                            @*<nop-required />*@
                        }
                        <span asp-validation-for="Address2"></span>
                    </div>
                }

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-4 space2">
                @if (Model.CityEnabled)
                {
                    <div class="form-group">
                        <label asp-for="City" asp-postfix=":" class="address-box-firs-name"></label>
                        <input asp-for="City" class="form-control address-box-form-input" maxlength="50" />
                        @if (Model.CityRequired)
                        {
                            @*<nop-required />*@
                        }
                        <span asp-validation-for="City"></span>
                    </div>
                }
            </div>
            <div class="col-12 col-md-4 space2">
                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                {
                    <div class="form-group">
                        <label asp-for="StateProvinceId" asp-postfix=":" class="address-box-firs-name"></label>
                        <select asp-for="StateProvinceId" selected="@Model.StateProvinceId" asp-items="Model.AvailableStates" class="form-control"></select>
                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                        <span asp-validation-for="StateProvinceId"></span>
                    </div>
                }
            </div>

        </div>

        @if (Model.CountyEnabled)
        {
            <div class="form-group">
                <label asp-for="County" asp-postfix=":" class="address-box-firs-name"></label>
                <input asp-for="County" />
                @if (Model.CountyRequired)
                {
                    @*<nop-required />*@
                }
                <span asp-validation-for="County"></span>
            </div>
        }

        <div class="row justify-content-center">
            <div class="col-12 col-md-4 space2">

                @if (Model.ZipPostalCodeEnabled)
                {
                    <div class="form-group">
                        <label asp-for="ZipPostalCode" asp-postfix=":" class="address-box-firs-name"></label>
                        <input asp-for="ZipPostalCode" class="form-control address-box-form-input" maxlength="20" />
                        @if (Model.ZipPostalCodeRequired)
                        {
                            @*<nop-required />*@
                        }
                        <span asp-validation-for="ZipPostalCode"></span>
                    </div>
                }
            </div>
            <div class="col-12 col-md-4 space2">

                @if (Model.CountryEnabled)
                {
                    <div class="form-group">
                        <label asp-for="CountryId" asp-postfix=":" class="address-box-firs-name"></label>
                        <select asp-for="CountryId" asp-items="Model.AvailableCountries" class="form-control"
                                data-trigger="country-select"
                                data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                data-loading="#states-loading-progress"></select>
                        @*<nop-required />*@
                        <span asp-validation-for="CountryId"></span>
                    </div>
                }

            </div>
        </div>

        <div class="row justify-content-center" id="phone-div">
            <div class="col-12 col-md-4 space2">
                @*@if (Model.PhoneEnabled)
                    {*@

                @if (Model.IsGuest)
                {
                <div class="form-group">
                    <input type="hidden" id="GuestCheckout" name="GuestCheckout" value="1" />
                    <label asp-for="PhoneNumber" asp-postfix=":" class="address-box-firs-name"></label>
                    <input asp-for="PhoneNumber" class="form-control address-box-form-input" maxlength="20" type="number" />
                    <div id="PhoneNumberValidate" class="field-validation-error">@T("account.fields.phone.required")</div>
                    @if (Model.PhoneRequired)
                    {
                        @*<nop-required />*@
                    }
                    <span asp-validation-for="PhoneNumber"></span>
                   
                </div>
                }


                @*}*@
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-4 space2">
                <div class="inputs">
                   

                </div>
            </div>

            
        </div>

        <div class="row shippingBilling justify-content-center">
            <div class="col-12 col-md-4 space2">
                <div class="inputs">
                    <label>@T("Account.Fields.IsBilling"):</label>
                    <input asp-for="IsBilling" />
                    <span asp-validation-for="IsBilling"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 space2">
                <div class="form-group">
                    <div class="inputs">
                        <label>@T("Account.Fields.IsShipping"):</label>
                        <input asp-for="IsShipping" />
                        <span asp-validation-for="IsShipping"></span>
                    </div>

                </div>
            </div>
        </div>
       
        @if (Model.CustomAddressAttributes.Count > 0)
        {
            @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
        }
    </div>
</fieldset>
<script>
    if ((window.location.href.indexOf("addressedit") > -1) || (window.location.href.indexOf("AddressAdd") > -1)) {
        //alert("your url contains the name franky");
        $('#phone-div').html('');
    }


</script>
