@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="footer">
    <div class="footer-middle">
        <div class="footer-newsletter-block footer-padding-left subscribe">
            <div class="subscribe-title">
                @T("subscribe.title")
            </div>
            <div class="subscribe-subtitle">
                @T("subscribe.subtitle")
            </div>
        </div>
        <div class="footer-newsletter-block subscribe-box">
            <div class="subscribe-subtitle-box">
                @await Component.InvokeAsync("NewsletterBox")
            </div>
        </div>
        <div class="footer-newsletter-block footer-padding-left social-block">
            @await Component.InvokeAsync("SocialButtons")
        </div>
    </div>
    <div class="footer-upper">
        <div class="footer-block footer-padding-left atlanta-office">
            <div class="title">
                <strong>@T("ContactUs")</strong>
            </div>
            <div class="subtitle">
                <strong>@T("atlanta.office")</strong>
            </div>
            <ul class="list">
                <li><i class="nn- nn-map-marker-light footer-icon-size"></i> @T("atlanta.office.address")</li>
                <li><i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("atlanta.office.phone")"> @T("atlanta.office.phone")</a></li>
                <li><i class="nn- nn-message footer-icon-size"></i><a href="mailto:@T("atlanta.office.email")"> @T("atlanta.office.email")</a></li>
            </ul>
        </div>
        <div class="footer-block cincinnati-office">
            <div class="title">
                <strong>&nbsp;</strong>
            </div>
            <div class="subtitle">
                <strong>@T("cincinnati.office")</strong>
            </div>
            <ul class="list">
                <li><i class="nn- nn-map-marker-light footer-icon-size"></i> @T("cincinnati.office.address")</li>
                <li><i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("cincinnati.office.phone")"> @T("cincinnati.office.phone")</a></li>
                <li><i class="nn- nn-message footer-icon-size"></i><a href="mailto:@T("cincinnati.office.email")"> @T("cincinnati.office.email")</a></li>
            </ul>
        </div>
        <div class="footer-block nashville-office">
            <div class="title">
                <strong>&nbsp;</strong>
            </div>
            <div class="subtitle">
                <strong>@T("nashville.office")</strong>
            </div>
            <ul class="list">
                <li><i class="nn- nn-map-marker-light  footer-icon-size"></i> @T("nashville.office.address")</li>
                <li><i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("nashville.office.phone")"> @T("nashville.office.phone")</a></li>
                <li><i class="nn- nn-phone-light footer-icon-size"></i><a href="tel:@T("nashville.office.phone.secundary")"> @T("nashville.office.phone.secundary")</a></li>
                <li><i class="nn- nn-message footer-icon-size"></i><a href="mailto:@T("nashville.office.email")"> @T("nashville.office.email")</a></li>
            </ul>
        </div>
        <div class="footer-block footer-padding-right follow-us">
            <div class="title">
                <strong>@T("Footer.CustomerService")</strong>
            </div>
            <ul class="list">
                @if (Model.DisplayContactUsFooterItem)
                {
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                }
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
            </ul>
            <div class="title">
                <strong>@T("gdpr.consent.privacypolicy")</strong>
            </div>
            <ul class="list">
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
            </ul>
        </div>
        <div class="footer-block footer-schedule" style="width:460px; padding-left: 60px;">
            <ul class="list">
                <li>&nbsp;</li>
                <li><i class="nn- nn-calendar footer-icon-size"></i> @T("schedule.office")</li>
            </ul>
        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                <span class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </span>
            }
        </div>
        @if (!Model.HidePoweredByNopCommerce)
        {
            <div class="footer-powered-by">
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                    Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
                Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
            </div>
        }
        @await Component.InvokeAsync("StoreThemeSelector")
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>
