@model CustomerPaymentInfoModel
@{

}
<style>
    @@media (max-width: 800px) {
        .button-1.new-address-next-step-button.white.button-back-checkuot {
            font-size: 0.909rem !important;
            text-transform: capitalize;
            width: 260.53px !important;
            border: 1.18421px solid #E44436 !important;
            box-sizing: border-box !important;
            border-radius: 4.73684px !important;
            color: #E44436 !important;
            padding: 9.47368px 18.9474px !important;
            width: 100% !important;
            display: block;
            text-align: center;
            margin-bottom: 5px;
        }

        .displayNone {
            display: none !important;
        }
    }
</style>
<form method="post" role="form" class="email-form" id="CustomerForm">

    @*@using(Ajax.BeginForm("SaveCreditCartInfo", "Customer", null, new AjaxOptions { UpdateTargetId = "ajaxReplace", OnSuccess = "doFunctionIfYouNeedTo", OnFailure = "ShowPopUpErrorIfYouWant" }))
        {*@
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <input type="hidden" id="AddCreditCard" name="AddCreditCard" value="on" />
    <div class="saveInfo displayNone" style="display: block; border: 1px solid gray; padding: 20px; height: auto;">
        <center>
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div style="width: 100%">
                <div id="myid"></div>
                <div id="myidfecha"></div>
                <div id="myidcvc"></div>
            </div>
        </center>

        <div class="design1div_rigth">

            <div class="info zone-creditcard-myaccount-mobile">
                <div class="row">
                    <div class="col-12">
                        <label for="CardholderName">Cardholder Name:</label>
                    </div>
                    <div class="col-12">
                        <input class="form-control" autocomplete="off" data-val="true" data-val-required="Enter Cardholder Name" id="CardholderName" maxlength="50" name="CardholderName" style="Width: 100%;" type="text">
                        <span class="field-validation-valid" data-valmsg-for="CardholderName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="CardNumber">Card Number:</label>
                    </div>
                    <div class="col-12">
                        <input class="form-control" autocomplete="off" id="CardNumber" data-val="true" data-val-required="Enter cardholder Number" onkeypress="return isNumber(event)" onchange="checkDigit(this)" onkeyup="validateCardNumberKey()" maxlength="16" name="CardNumber" style="Width: 250px" type="text">
                        <span class="field-validation-valid" data-valmsg-for="CardNumber" data-valmsg-replace="true"></span>
                        <div id="CardNumberJs" class="field-validation-error" style="display: none;">Enter card number</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label for="ExpireMonth">Expiration Date:</label>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-5">
                    </div>
                    <div class="col-5">
                        <select class="form-control" data-val="true" data-val-required="Expire month is required" id="ExpireMonth" name="ExpireMonth">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-2" style="color: #212529 !important; text-align: center !important; font-size: 25px; ">
                        <span>/</span>
                    </div>
                    <div class="col-5">
                        <select class="form-control" data-val="true" data-val-required="Expire year is required" id="ExpireYear" name="ExpireYear">
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="CardCode">CVV:</label>
                    </div>
                    <div class="col-12">
                        <input class="form-control" autocomplete="off" data-val="true" data-val-required="Enter card code" data-val-regex="Wrong card code" data-val-regex-pattern="^[0-9]{3,4}$" id="CardCode" maxlength="4" name="CardCode" style="Width:60px" type="text"> <span class="field-validation-valid" data-valmsg-for="CardCode" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>@T("myaccount.SavedBillingAddress")</label>
                    </div>
                    <div class="col-12">
                        <!--
                        <select onchange="validateStateEmpety(this)" asp-for="AddressIdSelected" class="SelectBillingAddress" data-trigger="state-select" style=" width: 100%;">
                            @foreach (var item in Model.BillingAddresList)
                            {
                                if (item != null)
                                {
                                    <option value="@item.Address1,  @item.City, @item.StateProvince.Id, @item.ZipPostalCode, @item.Country.Id, @item.Id">@item.Address1,  @item.City, @item.StateProvince.Abbreviation, @item.ZipPostalCode, @item.Country.Name</option>
                                }
                            }
                        </select>
                        -->
                        <div>
                            <div class="div-select-select">
                                <input asp-for="AddressIdSelected" value="77" type="hidden" />
                                <a onclick="showOptions('select-01');" class="option-selected" id="option-seleted-01">Select a option</a>
                                <img src="~/images/chevrone-down-2.png" style="float: right; width: 15px; height: 15px; position: absolute; top: 10px; left: 93%; " onclick="showOptions('select-01');"/>
                                <div class="div-select-options" id="select-01" style="display: none;">
                                    @foreach (var item in Model.BillingAddresList)
                                    {
                                        if (item != null)
                                        {
                                            string str = item.Address1 + "," + item.City + "," + item.StateProvince.Id + "," + item.ZipPostalCode + "," + item.Country.Id + "," + item.Id;
                                            string[] charsToRemove = new string[] { "@", ",", ".", ";", "'", "\n" };
                                            foreach (var c in charsToRemove)
                                            {
                                                str = str.Replace(c, string.Empty);
                                            }

                                            <div class="div-select-option"><a onclick='selectItem("option-seleted-01", "1", "@str", "select-01", "@item.Id"); test("@str");'>@str</a></div>
                                        }
                                    }
                                    <!--
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'Option 03', 'select-01');">Option 03</a></div>
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.', 'select-01');">MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.</a></div>
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'MER 816 Piedmont Ave NE , Apt 5 , Atlanta , Georgia , 30309-7702 , United States.', 'select-01');">MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.</a></div>
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'MER 817 Piedmont Ave NE , Apt 6 , Atlanta , Georgia , 30310-7702 , United States.', 'select-01');">MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.</a></div>
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'MER 818 Piedmont Ave NE , Apt 7 , Atlanta , Georgia , 30311-7702 , United States.', 'select-01');">MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.</a></div>
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'MER 819 Piedmont Ave NE , Apt 8 , Atlanta , Georgia , 30312-7702 , United States.', 'select-01');">MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.</a></div>
        <div class="div-select-option"><a onclick="selectItem('option-seleted-01', '1', 'MER 820 Piedmont Ave NE , Apt 9 , Atlanta , Georgia , 30313-7702 , United States.', 'select-01');">MER 815 Piedmont Ave NE , Apt 4 , Atlanta , Georgia , 30308-7702 , United States.</a></div>
            -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 50px !important;">
                    <div class="col-12">
                        <label>@T("myaccount.AddNewBillingAddress")</label>
                        <input type="checkbox" name="AddNewAddressMobile" id="AddNewAddressMobile" onclick="checkNewBillingAddress();" />
                    </div>
                    <div id="divNewAddressMobile" class="col-12 displayNone">
                        <div class="row">
                            <div class="col-12">
                                <label for="AddressNewCreditCard">Address:</label>
                            </div>
                            <div class="col-12">
                                <input asp-for="Address1" class="form-control address-box-form-input" maxlength="100" onchange="validateFormAddAddress();" style="Width: 100% !important" />
                                <span asp-validation-for="Address1" id="Address1Validate"></span>
                            </div>
                            <div class="col-12">
                                <label for="CityNewCreditCard">City:</label>
                            </div>
                            <div class="col-12">
                                <input asp-for="City" class="form-control address-box-form-input" maxlength="50" onchange="validateFormAddAddress();" style="Width: 100% !important" />
                                <span asp-validation-for="City" id="CityValidate"></span>
                            </div>
                            <div class="col-12">
                                <label for="StateNewAddress">State:</label>
                            </div>
                            <div class="col-12">
                                <select onchange="validateFormAddAddress();" asp-for="StateProvinceId" asp-items="Model.AvailableStates" class="form-control" data-trigger="state-select" style="Width: 100% !important"></select>
                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                <span asp-validation-for="StateProvinceId" id="StateValidate"></span>
                            </div>
                            <div class="col-12">
                                <label for="StateNewAddress">Zip Code:</label>
                            </div>
                            <div class="col-12">
                                <input asp-for="ZipPostalCode" pattern="^[0-9]{5}(?:-[0-9]{4})?$" class="form-control address-box-form-input" maxlength="20" type="text" onchange="validateFormAddAddress();" style="Width: 100% !important" />
                                <span asp-validation-for="ZipPostalCode" id="ZipPostalCodeValidate"></span>
                                <span id="ErrorAddressZipcode"></span>
                                @Html.ValidationMessage("ErrorAddressZipcode")
                                @if (Model.ValidZipCode)
                                {
                                    <span id="ErrorAddressZipcodeLabel" class="field-validation-error" data-valmsg-for="ErrorAddressZipcode" data-valmsg-replace="true">@T("Address.InvalidZipCode")</span>
                                }
                            </div>
                            <div class="col-12">
                                <label for="CountryNewAddress">Country:</label>
                            </div>
                            <div class="col-12">
                                <select onchange="validateFormAddAddress();" asp-for="CountryId" asp-items="Model.AvailableCountries" class="form-control" style="Width: 100% !important"
                                        data-trigger="country-select"
                                        data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                        data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                        data-loading="#states-loading-progress"></select>
                                <span asp-validation-for="CountryId"></span>
                            </div>
                            <div class="col-12">
                                <label for="CountryNewAddress">Phone Number:</label>
                            </div>
                            <div class="col-12">
                                <input asp-for="PhoneNumber" class="form-control address-box-form-input" maxlength="10" onchange="validateFormAddAddress();" style="Width: 100% !important" />
                                <span asp-validation-for="PhoneNumber" id="PhoneNumberValidate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info zone-creditcard-myaccount-desktop">
                <table width="100%" cellspacing="2" cellpadding="1" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <label for="CardholderName">Cardholder Name:</label>
                            </td>
                            <td>
                                <input autocomplete="off" data-val="true" data-val-required="Enter Cardholder Name" id="CardholderName" maxlength="50" name="CardholderName" style="Width: 250px" type="text">
                                <span class="field-validation-valid" data-valmsg-for="CardholderName" data-valmsg-replace="true"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="CardNumber">Card Number:</label>
                            </td>
                            <td>
                                <input autocomplete="off" id="CardNumber" data-val="true" data-val-required="Enter cardholder Number" onkeypress="return isNumber(event)" onchange="checkDigit(this)" onkeyup="validateCardNumberKey()" maxlength="16" name="CardNumber" style="Width: 250px" type="text">
                                <span class="field-validation-valid" data-valmsg-for="CardNumber" data-valmsg-replace="true"></span>
                                <div id="CardNumberJs" class="field-validation-error" style="display: none;">Enter card number</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ExpireMonth">Expiration Date:</label>
                            </td>
                            <td>
                                <select data-val="true" data-val-required="Expire month is required" id="ExpireMonth" name="ExpireMonth" style="font-size: 16px !important;">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select> /
                                <select data-val="true" data-val-required="Expire year is required" id="ExpireYear" name="ExpireYear" style="font-size: 16px !important;">
                                   
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                    <option value="2034">2034</option>
                                    <option value="2035">2035</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="CardCode">@T("myaccount.cvv"):</label></td>
                            <td>
                                <input autocomplete="off" data-val="true" data-val-required="Enter card code" data-val-regex="Wrong card code" data-val-regex-pattern="^[0-9]{3,4}$" id="CardCode" maxlength="4" name="CardCode" style="Width:60px" type="text"> <span class="field-validation-valid" data-valmsg-for="CardCode" data-valmsg-replace="true"></span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <label>@T("myaccount.SavedBillingAddress")</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <select onchange="validateStateEmpety(this)" asp-for="AddressIdSelected" class="SelectBillingAddress" data-trigger="state-select" style=" width: 100%;">
                                    @foreach (var item in Model.BillingAddresList)
                                    {
                                        if (item != null)
                                        {
                                            <option value="@item.Address1, @item.City, @item.StateProvince.Id, @item.ZipPostalCode, @item.Country.Id, @item.Id">@item.Address1,  @item.City, @item.StateProvince.Abbreviation, @item.ZipPostalCode, @item.Country.Name</option>
                                        }
                                    }
                                    @*@foreach (var item in Model.ship)
                                        {
                                            <option>@item.Address1, @item.StateProvince.Abbreviation, @item.ZipPostalCode, @item.Country.Name</option>
                                        }*@
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>@T("myaccount.AddNewBillingAddress")</label>

                            </td>
                            <td>
                                <input type="checkbox" name="AddNewAddress" id="AddNewAddress" onclick="checkNewBillingAddress();" />
                            </td>
                        </tr>

                        <tr class="displayNone" id="SaveAddress">
                            <td>
                                <label for="AddressNewCreditCard">Address:</label>
                            </td>
                            <td>
                                <input asp-for="Address1" class="form-control address-box-form-input" maxlength="100" onchange="validateFormAddAddress();" style="        Width: 250px !important
" />

                                <span asp-validation-for="Address1" id="Address1Validate"></span>
                            </td>
                        </tr>

                        <tr class="displayNone" id="SaveCity">
                            <td>
                                <label for="CityNewCreditCard">City:</label>
                            </td>
                            <td>
                                <input asp-for="City" class="form-control address-box-form-input" maxlength="50" onchange="validateFormAddAddress();" style="        Width: 250px !important
" />

                                <span asp-validation-for="City" id="CityValidate"></span>
                            </td>
                        </tr>
                        <tr class="displayNone" id="SaveState">
                            <td>
                                <label for="StateNewAddress">State:</label>
                            </td>
                            <td>
                                <select onchange="validateFormAddAddress();" asp-for="StateProvinceId" asp-items="Model.AvailableStates" class="form-control" data-trigger="state-select" style="        Width: 250px !important
"></select>
                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                <span asp-validation-for="StateProvinceId" id="StateValidate"></span>
                            </td>
                        </tr>
                        <tr class="displayNone" id="SaveZipCode">
                            <td>
                                <label for="ZipCodeNewCreditCard">Zip Code:</label>
                            </td>
                            <td>
                                <input asp-for="ZipPostalCode" pattern="^[0-9]{5}(?:-[0-9]{4})?$"
                                       class="form-control address-box-form-input" maxlength="20" type="text" onchange="validateFormAddAddress();" style="        Width: 250px !important
" />

                                <span asp-validation-for="ZipPostalCode" id="ZipPostalCodeValidate"></span>
                                <span id="ErrorAddressZipcode"></span>
                                @Html.ValidationMessage("ErrorAddressZipcode")
                                @if (Model.ValidZipCode)
                                {
                                    <span id="ErrorAddressZipcodeLabel" class="field-validation-error" data-valmsg-for="ErrorAddressZipcode" data-valmsg-replace="true">@T("Address.InvalidZipCode")</span>
                                }
                            </td>
                        </tr>
                        <tr class="displayNone" id="SaveCountry">
                            <td>
                                <label for="CountryNewAddress">Country:</label>
                            </td>
                            <td>
                                <select onchange="validateFormAddAddress();" asp-for="CountryId" asp-items="Model.AvailableCountries" class="form-control" style="        Width: 250px !important
"
                                        data-trigger="country-select"
                                        data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                        data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                        data-loading="#states-loading-progress"></select>
                                @*<nop-required />*@
                                <span asp-validation-for="CountryId"></span>
                            </td>
                        </tr>
                        <tr class="displayNone" id="PhoneNumberNewAddress">
                            <td>
                                <label for="PhoneNewCreditCard">Phone Number:</label>
                            </td>
                            <td>
                                <input asp-for="PhoneNumber" class="form-control address-box-form-input" maxlength="10" onchange="validateFormAddAddress();" style="        Width: 250px !important
" />

                                <span asp-validation-for="PhoneNumber" id="CityValidate"></span>
                            </td>
                        </tr>



                    </tbody>
                </table>
            </div>

            <div class="buttons mt-3">
                <a onclick="ClosePayment()" class="button-1 new-address-next-step-button white button-back-checkuot" style=" margin-right: 20px;width: 140px;">
                    Cancel
                </a>
                <a onclick="saveCC()" class="between-button button-1 new-address-next-step-button border button-continue-checkuot">@T("Checkout.save")</a>

                @*<input type="submit" name="nextstep" value="@T("Checkout.save")" class="between-button button-1 new-address-next-step-button border button-continue-checkuot" />*@
            </div>
            <br />
            <br />
            <div class="MessageCreditCard" id="MessageCreditCard"></div>
            <div class="MessageCreditCard" id="MessageCreditCard"></div>
        </div>
    </div>

    @*}*@
</form>

<script>

        function saveCC() {

            if ($("#CardholderName").val() != "" &&
                $("#CardNumber").val() != "" &&
                $("#CardCode").val() != "") {
                $("#MessageCreditCard").text('');
                $(".button-continue-checkuot").removeClass('disabled');
                var valdata = $("#CustomerForm").serialize();
                $("#MessageCreditCard").slideDown().html("");
                $("#MessageCreditCard").removeClass("RedMessage");
                $("#MessageCreditCard").removeClass("Successful");

                $.ajax({
                    type: "POST",
                    url: '/Customer/SaveCreditCartInfo',
                    data: valdata,
                    success: function (msg) {
                        if (msg == 'Successful.') {
                            //this_form.find('.loading').slideUp();
                            //this_form.find('.sent-message').slideDown();
                            //this_form.find("input:not(input[type=submit]), textarea").val('');
                            $("#MessageCreditCard").slideDown().html("Save Successful");
                            $("#MessageCreditCard").addClass("Successful");
                            $("#MessageCreditCard").removeClass("RedMessage");

                            location.reload()


                            //$("#SaveAddress").addClass("displayNone");
                            //$("#SaveCity").addClass("displayNone");
                            //$("#SaveState").addClass("displayNone");
                            //$("#PhoneNumberNewAddress").addClass("displayNone");
                            //$("#SaveZipCode").addClass("displayNone");
                            //$("#SaveCountry").addClass("displayNone");
                            //$("#divNewAddressMobile").addClass("displayNone");

                            //$("#Address1").val("");
                            //$("#City").val("");
                            //$("#StateProvinceId").val("");
                            //$("#ZipPostalCode").val("");
                            //$("#PhoneNumber").val("");

                        } else {
                            $("#MessageCreditCard").slideDown().html(msg);
                            $("#MessageCreditCard").removeClass("Successful");
                            $("#MessageCreditCard").addClass("RedMessage");

                        }
                    }
                });
            } else {
                $("#MessageCreditCard").text('@T("pleasefillcreditcardinfo")');
            }
        }

        $("#CardholderName").val("");

        function checkDigit(event) {
            var str = document.getElementById(event.id).value;
            for (var i = 0; i < str.length; i++) {
                if (isNaN(str.charAt(i))) { //is not number
                    document.getElementById(event.id).value = "";
                }
            }
        }

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        function formatCard(event) {
            $('#CardNumber').mask('0000-0000');
        }

        $('#AddNewCard').on('click', function () {
            if ($(this).is(':checked')) {
                // Hacer algo si el checkbox ha sido seleccionado
                $(".saveInfo").removeClass("displayNone");
                $("#CardholderName").val("");
                $("#CardNumber").val("");
                $("#CardCode").val("");
                $(".saveInfo").css("display", "block");

                $("#InfoCreditCard").html("");

            } else {
                // Hacer algo si el checkbox ha sido deseleccionado
                $(".saveInfo").css("display", "none");
                $("#CardholderName").val("");
                $("#CardNumber").val("");
                $("#CardCode").val("");
                $("#ExpireMonth").val("01");
                $("#ExpireYear").val("2022");
            }
        });

        /*function AddNew(flag) {
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");

            $(".saveInfo").removeClass("displayNone");
            $(".saveInfo").css("display", "block");
            $("#InfoCreditCard").html("");
        }*/
        function ClosePayment() {
            $(".saveInfo").css("display", "none");
            $("#CardholderName").val("");
            $('#CardholderName-error').text("");
            $("#CardNumber").val("");
            $('#CardNumber-error').text("");
            $('#myidfecha').html("");
            $("#CardCode").val("");
            $('#CardCode-error').text("");
            $('#AddNewCard').prop('checked', false);
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");
        }


        $('#AddNewAddress').on('click', function () {
            if ($(this).is(':checked')) {
                $("#SaveAddress").removeClass("displayNone");
                $("#SaveCity").removeClass("displayNone");
                $("#SaveState").removeClass("displayNone");
                $("#PhoneNumberNewAddress").removeClass("displayNone");
                $("#SaveZipCode").removeClass("displayNone");
                $("#SaveCountry").removeClass("displayNone");
                $("#divNewAddressMobile").removeClass("displayNone");

                $("#AddressIdSelected").prop('disabled', true);
                $(".button-continue-checkuot").addClass('disabled');
            } else {
                $("#SaveAddress").addClass("displayNone");
                $("#SaveCity").addClass("displayNone");
                $("#SaveState").addClass("displayNone");
                $("#PhoneNumberNewAddress").addClass("displayNone");
                $("#SaveZipCode").addClass("displayNone");
                $("#SaveCountry").addClass("displayNone");
                $("#divNewAddressMobile").addClass("displayNone");

                $("#AddressIdSelected").prop('disabled', false);
                $(".button-continue-checkuot").removeClass('disabled');
            }
        });

        $('#AddNewAddressMobile').on('click', function () {
            if ($(this).is(':checked')) {
                $("#SaveAddress").removeClass("displayNone");
                $("#SaveCity").removeClass("displayNone");
                $("#SaveState").removeClass("displayNone");
                $("#SaveZipCode").removeClass("displayNone");
                $("#SaveCountry").removeClass("displayNone");
                $("#divNewAddressMobile").removeClass("displayNone");

                $("#SaveState").removeClass("displayNone");

                $("#PhoneNumberNewAddress").removeClass("displayNone");

                $("#AddressIdSelected").attr('disabled');
            } else {
                $("#SaveAddress").addClass("displayNone");
                $("#SaveCity").addClass("displayNone");
                $("#SaveState").addClass("displayNone");
                $("#SaveZipCode").addClass("displayNone");
                $("#SaveCountry").addClass("displayNone");
                $("#divNewAddressMobile").addClass("displayNone");

                $("#PhoneNumberNewAddress").addClass("displayNone");

                $("#AddressIdSelected").removeAttr('disabled');
            }
        });


    function checkNewBillingAddress() {
        /*
        if ($('#AddNewAddress').is(':checked')) {
            $("#AddressIdSelected").prop('disabled', true);
            $(".button-continue-checkuot").addClass('disabled');
        } else {
            $("#AddressIdSelected").prop('disabled', false);
            $(".button-continue-checkuot").removeClass('disabled');
        }

        if ($('#AddNewAddressMobile').is(':checked')) {
            $("#AddressIdSelected").prop('disabled', true);
            $(".button-continue-checkuot").addClass('disabled');
        } else {
            $("#AddressIdSelected").prop('disabled', false);
            $(".button-continue-checkuot").removeClass('disabled');
        }
        */
    }

        function validateFormAddAddress() {

            if ($("#Address1").val() != "" &&
                $("#City").val() != "" &&
                $("#StateProvinceId").val() != "" &&
                $("#ZipPostalCode").val() != "" &&
                $("#CountryId").val() != "" &&
                $("#PhoneNumber").val() != "") {
                $(".button-continue-checkuot").removeClass('disabled');
            } else {
                $(".button-continue-checkuot").addClass('disabled');
            }
        }

        if ($(".master-wrapper-page").innerWidth() > 800) {
            $("#divNewAddressMobile").remove();
        }

        function validateStateEmpety(){

        }
</script>

<script>
    $(document).ready(function ($) {
        var window_width = $(window).width();

        if (window_width > 800) {
            $(".zone-creditcard-myaccount-mobile").remove();
        } else {
            $(".zone-creditcard-myaccount-desktop").remove();
        }

        if ($('#AddressIdSelected option').length <= 0) {
            $(".button-continue-checkuot").addClass('disabled');
            $("#MessageCreditCard").text('@T("shouldhaveoneaddressminimum")');
        }

    });
</script>

<style>
    .disabled {
        cursor: not-allowed;
        pointer-events: none;
    }

    @@media (max-width: 800px) {
        .button-continue-checkuot {
            width: 100% !important;
            position: relative;
            display: inherit;
            text-align: center;
        }
    }
</style>