@using Nop.Core
@model CustomerInfoModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}
<style>
    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: Arial !important;
        font-size: inherit;
        line-height: inherit;
    }
    * {
        font-family: arial !important;
    }
</style>
@section left
   {
    <script>
        function RemoveLeftDiv() {
            $('#divContainerRealFilters').addClass('d-none');
            $('#rowCatalogsSelectorFilter').addClass('d-none');

            $('#divContainerRealContainer').removeClass('col-lg-9');
            $('#divContainerRealContainer').addClass('col-lg-12');
        }
    </script>
}

<style>
    .input-customer {
        padding: 10px;
    }

    .pay-target {
        margin-bottom: 10px;
    }

        .pay-target input[type="checkbox"] {
            width: 1.3em;
            height: 1.3em;
            background-color: white;
            border-radius: 50%;
            vertical-align: middle;
            border: 1px solid #ddd;
            -webkit-appearance: none;
            outline: none;
            cursor: pointer;
            margin-top: 0px;
        }

            .pay-target input[type="checkbox"]:checked {
                background-color: deepskyblue;
            }

    .modal-backdrop.in {
        display: none;
    }

    .CompanyNameWeb {
        background-color: #eee;
        opacity: 1;
        height: 36px;
        border: 1px solid #ddd;
        padding: 8px;
        vertical-align: middle;
        /* height: 200px; */
        min-width: 200px;
    }

    @@media (max-width: 800px) {
        .div-order-mobile {
            margin: 0px !important;
        }

        .sub-div-order-mobile {
            padding: 0px !important;
        }
    }
</style>

<div class="row ">
    <div class="wop col-12 col-lg-12">
        <div class="mb-5 title-myaccount">
            <h1>My Account</h1>
        </div>
    </div>
</div>
<div class="row justify-content-center myaccount-page-section-mobile">
    <div class="col-lg-8">
        <div style="text-align: left; margin: 40px 0px;">
            <div class="divcontact">
                @T("contactustextmyaccount") <b><a href="/contactus" style="color: #37AEF3; border-radius: 5px; ">@T("contactus")</a></b>
            </div>
        </div>
        <h2 class="mb-4 subtitle-company-user-zone">Personal Details</h2>
        <form asp-route="CustomerInfo" method="post" id="CustomerInfo">
            <div class="row">
                <div class="col-md-6 input-customer">
                    <label asp-for="FirstName" asp-postfix=":"></label>
                    <nop-required />
                    @if (Model.ParentId != 0)
                    {
                        <input readonly class="form-control" asp-for="FirstName" maxlength="30" />
                    }
                    else
                    {
                        <input class="form-control" asp-for="FirstName" maxlength="30" />
                        <span asp-validation-for="FirstName"></span>
                    }

                </div>
                <div class="col-md-6 input-customer">
                    <label asp-for="LastName" asp-postfix=":"></label>
                    <nop-required />
                    @if (Model.ParentId != 0)
                    {
                        <input class="form-control" readonly asp-for="LastName" maxlength="30" />
                    }
                    else
                    {
                        <input class="form-control" asp-for="LastName" maxlength="30" />
                        <span asp-validation-for="LastName"></span>
                    }


                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 input-customer">
                    <label>Main phone:</label>

                    @if (Model.ParentId != 0)
                    {
                        <input class="form-control" asp-for="Phone" readonly maxlength="10" onkeypress="return isNumber(event)" onchange="checkDigit(this) " />
                    }
                    else
                    {
                        <input class="form-control" asp-for="Phone" maxlength="10" autocomplete="off" onkeypress="return isNumber(event)" onchange="checkDigit(this) " />
                    }

                </div>
                <div class="col-md-6 input-customer">
                    <label asp-for="Email" asp-postfix=":"></label>
                    <nop-required />

                    <input class="form-control" asp-for="Email" readonly />

                    <span asp-validation-for="Email"></span>
                    @if (!string.IsNullOrEmpty(Model.EmailToRevalidate))
                    {
                        <div class="inputs">
                            <label asp-for="EmailToRevalidate"></label>
                            <span class="email-to-revalidate">@Model.EmailToRevalidate</span>
                            <span class="email-to-revalidate-note">
                                <em>@T("Account.Fields.EmailToRevalidate.Note")</em>
                            </span>
                        </div>
                    }

                    @if (Model.UsernamesEnabled)
                    {
                        if (Model.AllowUsersToChangeUsernames)
                        {
                            <div class="inputs">
                                <label asp-for="Username" asp-postfix=":"></label>
                                <input asp-for="Username" />
                                <nop-required />
                                <span asp-validation-for="Username"></span>
                                @if (Model.CheckUsernameAvailabilityEnabled)
                                {
                                    @await Html.PartialAsync("_CheckUsernameAvailability")
                                }
                            </div>
                        }
                        else
                        {
                            <div class="inputs">
                                <label asp-for="Username" asp-postfix=":"></label>
                                <span class="readonly-username">@Model.Username</span>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="row mt-4">
                @if (Model.ParentId != 0)
                {
                    <div class="col-md-6 input-customer">
                        <label>Mobile phone:</label>
                        <input class="form-control" readonly asp-for="MobilePhone" maxlength="10" onkeypress="return isNumber(event)" onchange="checkDigit(this) " />
                    </div>

                    <div class="col-md-6 input-customer">
                        <label>Office phone:</label>
                        <input class="form-control" readonly asp-for="OfficePhone" maxlength="30" />
                    </div>
                }
            </div>
            @if (Model.ParentId != 0)
            {
                <div class="row mt-4">
                    <div class="col-md-6 input-customer">
                        <label>@T("account.BillingTerms"):</label>
                        <input class="form-control" readonly asp-for="BillingTerms" maxlength="30" />
                    </div>
                    @if (!string.IsNullOrEmpty(Model.CompanyLocationName))
                    {
                        <div class="col-md-6 input-customer">
                            <label >@T("account.Primarylocation"):</label>
                            <input class="form-control" readonly asp-for="CompanyLocationName" />

                        </div>
                    }
                    else
                    {
                        if (Model.ParentId != 0)
                        {
                            if (!string.IsNullOrEmpty(Model.NamePrincipal))
                            {
                                <div class="col-md-6 input-customer">
                                    <label>@T("account.CompanyName"):</label>
                                    <input class="form-control" readonly asp-for="NamePrincipal" />
                                </div>
                            }
                        }

                    }

                    @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {
                        @if (Model.ParentId == 0)
                        {
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="col-md-6 input-customer">
                                    <div class="newsletterInfo">
                                        <div class="inputs">
                                            <label asp-for="Newsletter" asp-postfix=":"></label>
                                            <input asp-for="Newsletter" />
                                            <span asp-validation-for="Newsletter"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }

                </div>
            }
            @if (Model.ParentId != 0)
            {
                @if (!string.IsNullOrEmpty(Model.CompanyLocationName))
                {
                    <div class="row mt-4">
                        @if (!string.IsNullOrEmpty(Model.NamePrincipal))
                        {
                            <div class="col-md-6 input-customer">
                                <label>@T("account.CompanyName"):</label>
                                <input class="form-control" readonly asp-for="NamePrincipal" />
                            </div>
                        }
                    </div>
                   }
                }

                @if (Model.ParentId == 0)
                {
                    <div class="wop col-md-12 mt-5">
                        <div class="buttons ">
                            <input style="  color: white;" type="submit" id="save-info-button" value="@T("Common.Save")" name="save-info-button" class="button-1 checkout-button boton-checkout boton-checkout-summary" />
                        </div>
                    </div>
                }
            </form>
        <div class="row mt-4">

            @if (Model.ParentId != 0)
            {

                <div class="wop col-md-12 input-customer">
                    <label class="subtitle-payment-methods mb-4">@T("userZone.PaymentMethods")</label>
                    <div class="row">
                        @if (Model.PaymentsCards?.profile == null)
                        {
                            <div class="col-md-6 input-customer">
                                <div class="form-control pay-target">
                                    <p style="float: initial;">@T("userZone.NoCreditCardsLoaded")</p>
                                </div>
                            </div>
                        }
                        @if (Model.PaymentsCards?.profile != null)
                        {
                            if (Model.PaymentsCards.profile.paymentProfiles != null)
                            {
                                @foreach (var item in Model.PaymentsCards.profile.paymentProfiles)
                                {

                                    var expirationDate = item.payment.creditCard.expirationDate;
                                    var isExpired = false;
                                    if (expirationDate != "XXXX")
                                    {
                                        var expD = expirationDate.Split('-');
                                        if (expD[0] != null && expD[1] != null)
                                        {
                                            var year = Convert.ToInt32(expD[0]);
                                            var month = Convert.ToInt32(expD[1]);

                                            if (year < DateTime.Now.Year)
                                            {
                                                isExpired = true;
                                            }


                                            if (year < DateTime.Now.Year && month < DateTime.Now.Day)
                                            {
                                                isExpired = true;
                                            }
                                        }
                                    }
                                    <div class="col-md-6 input-customer">
                                        <div class="form-control pay-target">
                                            <div class="row">
                                                <div class="col-10">
                                                    <p style="float: initial;">@item.payment.creditCard.cardType - @item.payment.creditCard.cardNumber</p>
                                                    @if (isExpired)
                                                    {
                                                        <span style="margin-top: -43px !important;  font-style: normal; font-weight: normal; font-size: .795rem; line-height: 1.023rem; color: #e44436; margin-left: 5px; float: right;">@T("expirationDate.cc")</span>
                                                    }
                                                </div>
                                                <div class="col-2">
                                                    <a href="javascript:;" style="float: right;" onclick="RemoveCC('@Model.PaymentsCards.profile.customerProfileId','@item.customerPaymentProfileId')"><img src="/images/removeCC.png" /></a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                }



                            }
                            else
                            {
                                <div class="col-md-6 input-customer">
                                    <p style="float: initial; margin-left: 8%;">No credit cards have been loaded</p>
                                </div>
                            }
                        }
                    <div class="col-md-6 input-customer">
                        <div class="col-md-4 col-lg-4 col-xl-3"><div class="buttons"><input id="AddNewCardButton" onclick="addNewCardButton()" type="submit" class="button-1 addNewCard" value="Add new card"></div></div>

                        <div class="form-control pay-target" style="display:none">
                            <div class="row" onclick="AddNew()" style="cursor:pointer">
                                <div class="col-1 d-flex" style="padding: 0px;">
                                    <input type="checkbox" name="group1[]" id="AddNewCardHidden" style="float:left;margin-top:5% !important;left: 10px !important;position: relative;top: 3px;" />
                                </div>
                                
                            </div>
                        </div>

                    </div>
                    </div>
                    @await Html.PartialAsync("_SaveInfoDetail", Model.CustomerPaymentInfoModel)
                    @{
                        var classInfo = "";
                    }
                    @if (Model.CustomerPaymentInfoModel?.messageStatus != null)
                    {
                        if (Model.CustomerPaymentInfoModel?.messageStatus == "Successful.")
                        {
                            classInfo = "GreenInfo";
                            <span id="InfoCreditCard" style="    color: #37AEF3;    float: left;    font-size: 18px;"> @T("userZone.SavedCorrect") </span>
                        }
                        else if (Model.CustomerPaymentInfoModel?.messageStatus != "Successful.")
                        {
                            classInfo = "RedInfo";

                            <span id="InfoCreditCard" class="" style="float: left; color: red;">@T("userZone.WrongCreditCard")</span>
                        }
                    }
                </div>

                <div style="width:100%;height:80px;"></div>

                @if (Model.Children.Count != 0)
                {
                    <div class="wop col-md-12">
                        <label class="subtitle-payment-methods">Company Details:</label>
                    </div>

                    foreach (var x in Model.Children)
                    {
                        if (x.Email != null )
                        {
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6 input-customer">
                                        <label class="inner-subtitle-user-zone">Contact:</label>

                                        <label class="form-control" readonly>@x.FirstName @x.LastName</label>

                                    </div>
                                    <div class="col-md-6 input-customer">
                                        <label class="inner-subtitle-user-zone">Email:</label>
                                        <label class="form-control" readonly>@x.Email</label>

                                    </div>
                                    <div class="col-md-6 input-customer">
                                        <label class="inner-subtitle-user-zone">Contact number:</label>
                                        <label class="form-control text-Lato " readonly> @x.Phone</label>

                                    </div>
                                  
                                </div>
                            </div>
                            <div class="col-12 mb-5">
                                <div class="separatorInfo"></div>
                            </div>
                        }
                    }
                }

                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <div class="row" style="padding:4%;">
                    </div>
                    <div class="wop col-md-12 input-customer">
                        <label class="subtitle-payment-methods">Default Shipping Addresses</label>
                    </div>
                    @if (Model.ShippingAddress == null)
                    {
                    }
                    else
                    {
                        <div class="col-md-12 input-customer form-address-mobile">
                            <div id="add_@Model.ShippingAddressId" class="form-address-mobile">
                                <div class="form-control" style="height: 50px; margin-top: 10px; ">
                                    <p class="text-address-user-zone" style="float: left; white-space: initial; width: 86%; height: 40px; overflow: auto;">
                                        @Model.ShippingAddress.Address1,
                                        @if (Model.ShippingAddress.Address2 != null)
                                        {

                                            <span> @Model.ShippingAddress.Address2 ,</span>
                                        }

                                        @if (Model.ShippingAddress?.City != null)
                                        {

                                            <span> @Model.ShippingAddress?.City ,</span>
                                        }
                                        @if (Model.ShippingAddress?.StateProvince?.Name != null)
                                        {

                                            <span> @Model.ShippingAddress?.StateProvince?.Name ,</span>
                                        }
                                        @if (Model.ShippingAddress?.ZipPostalCode != null)
                                        {

                                            <span> @Model.ShippingAddress?.ZipPostalCode ,</span>
                                        }
                                        @if (Model.ShippingAddress?.Country?.Name != null)
                                        {

                                            <span> @Model.ShippingAddress?.Country?.Name. </span>
                                        }
                                        @*@if (Model.ShippingAddress.Residential)
                                            {
                                                <span>@T("Account.Fields.Residential") </span>
                                            }*@
                                    </p>
                                    @if (Model.ParentId == 0)
                                    {
                                        <div class="row justify-content-end" style="margin-top: 2px; ">
                                            <div class="col-6 col-md-3">
                                                <a class="my-auto" href="addressedit/@Model.ShippingAddressId" role="button" aria-expanded="false" aria-controls="collapseAddress">
                                                    <img width="15" height="15" src="~/images/pencil-edit.svg" />
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <div class="add-button displayNone" id="addMore_@Model.ShippingAddressId">
                                <label style="color: cornflowerblue; float: left; margin-left: 20px; cursor: pointer; " onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                            </div>
                        </div>
                    }
                    <div class="wop col-md-12 input-customer mt-4">
                        <label class="subtitle-payment-methods">Default Billing Addresses</label>
                    </div>
                    @if (Model.BillingAddress == null)
                    {
                    }
                    else
                    {
                        <div class="col-md-12 input-customer form-address-mobile">
                            <div id="add_@Model.BillingAddressId" class="form-address-mobile">
                                <div class="form-control" style="height: 50px; margin-top: 10px;" id="add_@Model.BillingAddressId">
                                    <p class="text-address-user-zone" style="float: left; white-space: initial; width: 86%; height: 40px; overflow: auto;">
                                        @if (Model.BillingAddress?.Address1 != null)
                                        {

                                            <span> @Model.BillingAddress?.Address1 ,</span>
                                        }

                                        @if (Model.BillingAddress.Address2 != null)
                                        {

                                            <span> @Model.BillingAddress.Address2 ,</span>
                                        }

                                        @if (Model.BillingAddress?.City != null)
                                        {

                                            <span> @Model.BillingAddress?.City ,</span>
                                        }
                                        @if (Model.BillingAddress?.StateProvince?.Name != null)
                                        {

                                            <span> @Model.BillingAddress?.StateProvince?.Name ,</span>
                                        }
                                        @if (Model.BillingAddress?.ZipPostalCode != null)
                                        {

                                            <span> @Model.BillingAddress?.ZipPostalCode ,</span>
                                        }
                                        @if (Model.BillingAddress?.Country?.Name != null)
                                        {

                                            <span> @Model.BillingAddress?.Country?.Name. </span>
                                        }

                                    </p>
                                    @if (Model.ParentId == 0)
                                    {
                                        <div class="row justify-content-end" style=" margin-top: 2px; ">
                                            <div class="col-6 col-md-3">
                                                <a class="my-auto" href="addressedit/@Model.BillingAddressId" role="button" aria-expanded="false" aria-controls="collapseAddress">
                                                    <img width="15" height="15" src="~/images/pencil-edit.svg" />
                                                </a>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="add-button displayNone" id="addMore_@Model.BillingAddressId">
                                <label style="color: cornflowerblue; float: left; margin-left: 20px; cursor: pointer; " onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                            </div>


                        </div>
                    }

                    <div class="wop col-md-12 input-customer mt-4">
                        <label class="subtitle-payment-methods">Others Addresses</label>
                    </div>
                    <div class="col-md-12 input-customer form-address-mobile">

                        @if (Model.OthersAddress != null)
                        {
                            if (Model.OthersAddress.Count() > 0)
                            {
                                @*<label class="inner-subtitle-user-zone">Your addresses :</label>*@
                                foreach (var item in Model.OthersAddress)
                                {
                                    <div class="form-control form-address-mobile" style="height: 50px; margin-top: 20px; " id="add_@item.Id">
                                        <p class="text-address-user-zone" style="float: left; white-space: initial; width: 86%; height: 40px; overflow: auto;">
                                            @if (item.Address1 != null)
                                            {
                                                <span> @item.Address1 ,</span>
                                            }

                                            @if (item.Address2 != null)
                                            {

                                                <span> @item.Address2 ,</span>
                                            }

                                            @if (item?.City != null)
                                            {

                                                <span> @item?.City ,</span>
                                            }
                                            @if (item?.StateProvince?.Name != null)
                                            {

                                                <span> @item?.StateProvince?.Name ,</span>
                                            }
                                            @if (item?.ZipPostalCode != null)
                                            {

                                                <span> @item?.ZipPostalCode ,</span>
                                            }
                                            @if (item?.Country?.Name != null)
                                            {

                                                <span> @item?.Country?.Name .  </span>
                                            }
                                         
                                        </p>
                                        @if (Model.ParentId == 0)
                                        {
                                            <div class="row justify-content-end" style="margin-top: 2px; ">
                                                <div class="col-6 col-md-3">
                                                    <a href="addressedit/@item.Id" role="button" aria-expanded="false" aria-controls="collapseAddress">
                                                        <img width="15" height="15" src="~/images/pencil-edit.svg" />
                                                    </a>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                }
                            }
                        }
                        
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
            }
            else
            {

                
                <div class="wop col-md-12 mt-5">
                    <h2 class="subtitle-payment-methods">@T("AccountUser.CompanyDetails"):</h2>
                </div>
                <div class="col-md-12 input-customer mt-4">
                    <div class="row">
                        <div class="col-lg-2">
                            <label>@T("admin.customers.company.fields.companyname"):</label>
                        </div>
                        <div class="col-lg-10">
                            <label class="CompanyNameWeb" style="width:100%">@Model.Company</label>
                            <input type="hidden" name="Company" value="@Model.Company" />
                        </div>
                    </div>
                </div>

                <div class="wop col-md-12 input-customer mt-5">
                    <label class="subtitle-payment-methods">Default Shipping Addresses</label>
                </div>
                @if (Model.ShippingAddress == null)
                {
                    <div class="add-button" style="margin-top: 24px;">
                        <label style="color: cornflowerblue; float: left; margin-left: 20px; cursor: pointer; " onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                    </div>
                }
                else
                {
                    <div class="col-md-12 input-customer form-address-mobile">
                        <div id="add_@Model.ShippingAddressId" class="form-address-mobile">
                            <div class="form-control" style="height: 50px; margin-top: 10px; ">
                                <div class="row">
                                    <div class="col-9">
                                        <p class="text-address-user-zone" style="float: left; white-space: initial; width: 100%; height: 40px; overflow: auto;">
                                            @Model.ShippingAddress.Address1,
                                            @if (Model.ShippingAddress.Address2 != null)
                                            {

                                                <span> @Model.ShippingAddress.Address2 ,</span>
                                            }

                                            @if (Model.ShippingAddress?.City != null)
                                            {

                                                <span> @Model.ShippingAddress?.City ,</span>
                                            }
                                            @if (Model.ShippingAddress?.StateProvince?.Name != null)
                                            {

                                                <span> @Model.ShippingAddress?.StateProvince?.Name ,</span>
                                            }
                                            @if (Model.ShippingAddress?.ZipPostalCode != null)
                                            {

                                                <span> @Model.ShippingAddress?.ZipPostalCode ,</span>
                                            }
                                            @if (Model.ShippingAddress?.Country?.Name != null)
                                            {

                                                <span> @Model.ShippingAddress?.Country?.Name. </span>
                                            }
                                           
                                        </p>
                                    </div>
                                    <div class="col-3">
                                        <div class="row justify-content-end" style="margin-top: 2px; ">
                                            <div class="col-6 col-md-3 d-flex">
                                                <a class="my-auto ml-auto" href="addressedit/@Model.ShippingAddressId" role="button" aria-expanded="false" aria-controls="collapseAddress">
                                                    <img width="20" height="20" src="~/images/pencil-edit.svg" />
                                                </a>
                                            </div>
                                            @if (Model.TotalAddress > 1)
                                            {
                                                <div class="col-6 col-md-3 d-flex">
                                                    <a href="javascript:;" onclick="deletecustomeraddress(@Model.ShippingAddressId)" class="my-auto"><i class="nn- nn-trash"></i></a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="add-button displayNone" id="addMore_@Model.ShippingAddressId" style="margin-top: 24px;">
                            <label style="color: cornflowerblue; float: left; margin-left: 20px; cursor: pointer; " onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                        </div>
                    </div>
                }

                <div class="wop col-md-12 input-customer">
                    <label class="subtitle-payment-methods">Default Billing Addresses</label>
                </div>
                @if (Model.BillingAddress == null)
                {
                    <div class="add-button" style="margin-top: 24px;">
                        <label style="color: cornflowerblue; float: left; margin-left: 20px; cursor: pointer; " onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                    </div>
                }
                else
                {
                    <div class="col-md-12 input-customer form-address-mobile">
                        <div id="add_@Model.BillingAddressId" class="form-address-mobile">
                            @*<label class="inner-subtitle-user-zone">Your address :</label>*@
                            <div class="form-control" style="height: 50px; height: 50px; margin-top: 10px;" id="add_@Model.BillingAddressId">
                                <div class="row">
                                    <div class="col-9">
                                        <p class="text-address-user-zone" style="float: left; white-space: initial; width: 100%; height: 40px; overflow: auto;">
                                            @if (Model.BillingAddress?.Address1 != null)
                                            {

                                                <span> @Model.BillingAddress?.Address1 ,</span>
                                            }

                                            @if (Model.BillingAddress.Address2 != null)
                                            {

                                                <span> @Model.BillingAddress.Address2 ,</span>
                                            }

                                            @if (Model.BillingAddress?.City != null)
                                            {

                                                <span> @Model.BillingAddress?.City ,</span>
                                            }
                                            @if (Model.BillingAddress?.StateProvince?.Name != null)
                                            {

                                                <span> @Model.BillingAddress?.StateProvince?.Name ,</span>
                                            }
                                            @if (Model.BillingAddress?.ZipPostalCode != null)
                                            {

                                                <span> @Model.BillingAddress?.ZipPostalCode ,</span>
                                            }
                                            @if (Model.BillingAddress?.Country?.Name != null)
                                            {

                                                <span> @Model.BillingAddress?.Country?.Name </span>
                                            }
                                            @*@if (Model.BillingAddress.Residential)
                                                {
                                                    <span>@T("Account.Fields.Residential") </span>
                                                }*@
                                        </p>
                                    </div>
                                    @if (!Model.EnableCompany)
                                    {
                                        <div class="col-3">
                                            <div class="row justify-content-end" style="margin-top: 2px; ">
                                                <div class="col-6 col-md-3 d-flex">
                                                    <a class="my-auto ml-auto" href="addressedit/@Model.BillingAddressId" role="button" aria-expanded="false" aria-controls="collapseAddress">
                                                        <img width="20" height="20" src="~/images/pencil-edit.svg" />
                                                    </a>
                                                </div>
                                                @if (Model.TotalAddress > 1)
                                                {
                                                    <div class="col-6 col-md-3 d-flex">
                                                        <a href="javascript:;" onclick="deletecustomeraddress(@Model.BillingAddressId)" class="my-auto"><i class="nn- nn-trash"></i></a>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                    }
                                </div>



                            </div>
                        </div>
                        <div class="add-button displayNone" id="addMore_@Model.BillingAddressId" style="margin-top: 24px;">
                            <label style="color: cornflowerblue; float: left; margin-left: 20px; cursor: pointer; " onclick="location.href='@Url.RouteUrl("CustomerAddressAdd")'" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                        </div>
                    </div>
                }
                <div class="wop col-md-12 input-customer">
                    <label class="subtitle-payment-methods">Others Addresses</label>
                </div>
                <div class="col-md-12 input-customer form-address-mobile">

                    @if (Model.OthersAddress != null)
                    {
                        if (Model.OthersAddress.Count() > 0)
                        {
                            @*<label class="inner-subtitle-user-zone">Your addresses :</label>*@
                            foreach (var item in Model.OthersAddress)
                            {
                                <div class="form-control" style="height: 50px; height: 50px; margin-top: 10px;" id="add_@item.Id">
                                    <div class="row">
                                        <div class="col-9">
                                            <p class="text-address-user-zone" style="float: left; white-space: initial; width: 100%; height: 40px; overflow: auto;">
                                                @if (item.Address1 != null)
                                                {
                                                    <span> @item.Address1 ,</span>
                                                }

                                                @if (item.Address2 != null)
                                                {

                                                    <span> @item.Address2 ,</span>
                                                }

                                                @if (item?.City != null)
                                                {

                                                    <span> @item?.City ,</span>
                                                }
                                                @if (item?.StateProvince?.Name != null)
                                                {

                                                    <span> @item?.StateProvince?.Name ,</span>
                                                }
                                                @if (item?.ZipPostalCode != null)
                                                {

                                                    <span> @item?.ZipPostalCode ,</span>
                                                }
                                                @if (item?.Country?.Name != null)
                                                {

                                                    <span> @item?.Country?.Name. </span>
                                                }
                                               
                                            </p>

                                        </div>
                                        <div class="col-3">
                                            <div class="row justify-content-end" style="margin-top: 2px; ">
                                                <div class="col-6 col-md-3 d-flex">
                                                    <a class="my-auto ml-auto" href="addressedit/@item.Id" role="button" aria-expanded="false" aria-controls="collapseAddress">
                                                        <img width="20" height="20" src="~/images/pencil-edit.svg" />
                                                    </a>
                                                </div>
                                                @if (Model.TotalAddress > 1)
                                                {
                                                    <div class="col-6 col-md-3 d-flex">
                                                        <a href="javascript:;" onclick="deletecustomeraddress(@item.Id)" class="my-auto"><i class="nn- nn-trash"></i></a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            }
                        }
                        <div class="add-button" style="margin-top: 24px;">
                            @if (Model.TotalAddress < 10)
                            {

                                <a style=" color: #78909C; float: right; cursor: pointer" href="/Customer/AddressAdd" value="@T("Common.AddNew")"> Add Other Address <span class="plus-address-mobile">+</span> </a>

                            }
                            <input type="hidden" name="totalAddress" id="totalAddress" value="@Model.TotalAddress" />
                        </div>
                    }
                    else
                    {
                        <div class="add-button" style="margin-top: 24px;">
                            <label style="color: #6495ed; float: left; margin-top: -60px; margin-left: 11px; cursor: pointer; " onclick="location.href=@Url.RouteUrl("CustomerAddressAdd")" value="@T("Common.AddNew")"> Add Address <span class="plus-address-mobile">+</span> </label>
                        </div>
                    }

                </div>
                <div class="wop col-md-12 input-customer myaccount-section-payment-mobile">
                    <label class="subtitle-payment-methods mb-4">@T("userZone.PaymentMethods")</label>
                    <div class="row">
                        @if (Model.PaymentsCards?.profile == null)
                        {
                            <div class="wop col-md-6 input-customer">
                                <div class="form-control pay-target">
                                    <p class="subtitle-payment-methods" style="float: initial;">@T("userZone.NoCreditCardsLoaded")</p>
                                </div>
                            </div>
                        }
                        @if (Model.PaymentsCards?.profile != null)
                        {
                            if (Model.PaymentsCards.profile.paymentProfiles != null)
                            {
                                @foreach (var item in Model.PaymentsCards.profile.paymentProfiles)
                                {

                                    var expirationDate = item.payment.creditCard.expirationDate;
                                    var isExpired = false;
                                    if (expirationDate != "XXXX")
                                    {
                                        var expD = expirationDate.Split('-');
                                        if (expD[0] != null && expD[1] != null)
                                        {
                                            var year = Convert.ToInt32(expD[0]);
                                            var month = Convert.ToInt32(expD[1]);

                                            if (year < DateTime.Now.Year)
                                            {
                                                isExpired = true;
                                            }


                                            if (year < DateTime.Now.Year && month < DateTime.Now.Day)
                                            {
                                                isExpired = true;
                                            }
                                        }
                                    }
                                    <div class="col-md-6 input-customer">
                                        <div class="form-control pay-target">
                                            <div class="row">
                                                <div class="col-10">
                                                    <div style="float: left;">
                                                        @item.payment.creditCard.cardType - @item.payment.creditCard.cardNumber
                                                    </div>
                                                    @if (isExpired)
                                                    {
                                                        <span style="
                                                                    font-style: normal;
                                                                    font-weight: normal;
                                                                    font-size: 0.795rem;
                                                                    line-height: 1.023rem;
                                                                    color: #E44436;
                                                                    margin-left: 10px;
                                                                    float: right;">
                                                            @T("expirationDate.cc")
                                                        </span>
                                                    }

                                                </div>
                                                <div class="col-2">
                                                    <a href="javascript:;" style="float: right;" onclick="RemoveCC('@Model.PaymentsCards.profile.customerProfileId','@item.customerPaymentProfileId')"><img src="/images/removeCC.png" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="wop col-md-6 input-customer">
                                    <p class="subtitle-payment-methods" style="float: initial;">No credit cards have been loaded</p>
                                </div>
                            }
                        }

                        <div class="col-md-6 input-customer">
                            <div class="col-md-4 col-lg-4 col-xl-3"><div class="buttons"><input id="AddNewCardButton" onclick="addNewCardButton()" type="submit" class="button-1 addNewCard" value="Add new card"></div></div>

                            <div class="form-control pay-target" style="display:none">
                                <div class="row" onclick="AddNew()" style="cursor:pointer">
                                    <div class="col-1 d-flex" style="padding: 0px;">
                                        <input type="checkbox" name="group1[]" id="AddNewCardHidden" style="float:left;margin-top:5% !important;left: 10px !important;position: relative;top: 3px;" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @{
                        var classInfo = "";
                    }
                    @if (Model.CustomerPaymentInfoModel?.messageStatus != null)
                    {
                        if (Model.CustomerPaymentInfoModel?.messageStatus == "Successful.")
                        {
                            classInfo = "GreenInfo";
                            <span id="InfoCreditCard" style="    color: #37AEF3;    float: left;    font-size: 18px;"> @T("userZone.SavedCorrect") </span>
                        }
                        else if (Model.CustomerPaymentInfoModel?.messageStatus != "Successful.")
                        {
                            classInfo = "RedInfo";

                            <span id="InfoCreditCard" class="" style="float: left; color: red;">@T("userZone.WrongCreditCard")</span>
                        }
                    }
                </div>

                @if (Model.successCustomer == "ok")
                {
                    <div id="eu-update-bar-notification" class="eu-cookie-bar-notification">
                        <div class="content">
                            <div class="text">@T("UserZone.CustomerUpdate")</div>
                            <div class="buttons-more">
                            </div>
                        </div>
                    </div>

                    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            setTimeout(function () {
                                $("#eu-update-bar-notification").fadeOut(1500);
                            }, 3000);
                        });
                    </script>
                }
            }
        </div>

        @if (Model.ParentId == 0)
        {
            @await Html.PartialAsync("_SaveInfoDetail", Model.CustomerPaymentInfoModel)
        }

    </div>
</div>

<script>
    function showOptions(div) {
        $("#" + div).toggle();

    }

    function selectItem(div, id, text, select, idAddress) {
        $("#" + div).html(text);
        $("#" + select).toggle();
        $("#AddressIdSelected").val(idAddress);


    }

    function test(value) {
        //alert(value);
    }

</script>

<style>
    .div-select-options {
        position: absolute;
        width: 100%;
        padding: 5px;
        z-index: 100000;
        margin-top: 35px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #e9ecef;
    }

    .option-selected {
        border: 1px solid #ddd;
        padding: 5px;
        padding-right: 5px;
        border-radius: 5px;
        width: 100%;
        position: absolute;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #e9ecef;
        padding-right: 30px;
    }

        .option-selected, .option-selected:hover,
        .div-select-option a {
            cursor: pointer;
            color: #495057;
        }
</style>


<script>

    var input = document.getElementById("ExpireMonth");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();

            if (mes.length > 0 && annio.length > 0) {


                if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {
                    document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                }

            }

        }

    });

    var input = document.getElementById("ExpireYear");
    input.addEventListener('change', ev => {
        if (ev.key === "Backspace" || ev.key === "Delete" || ev.key === 8 || ev.key === 46) {
            var ii;
        } else {
            var mes = document.getElementById("ExpireMonth").value;
            var annio = document.getElementById("ExpireYear").value;
            var date = new Date();
            if (mes.length > 0 && annio.length > 0) {
                if ((annio > date.getFullYear())) {
                    document.getElementById('myidfecha').innerHTML = '<div class="attr"></div>';
                } else {

                    if ((mes >= 1) && (mes > date.getMonth()) && (annio >= date.getFullYear())) {

                    } else {
                        document.getElementById('myidfecha').innerHTML = '<div style=" margin - top: 20px; color: red;" class="attr">Wrong Date</div>';
                    }
                }
            }

        }

    });

</script>
<script asp-location="Footer">
    $(".saveInfo").css("display", "none");

    function addNewCardButton() {
        if ($("#AddNewCardHidden").is(':checked')) {
            $(".saveInfo").css("display", "none");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $("#ExpireMonth").val("01");
            $("#ExpireYear").val("2022");

            var parent = $("#AddNewCardHidden").parent().attr('id');
            $('#' + parent + ' input[type=checkbox]').removeAttr('checked');
            $("#AddNewCardHidden").prop('checked', false);
        } else {
            $(".saveInfo").removeClass("displayNone");
            $("#CardholderName").val("");
            $("#CardNumber").val("");
            $("#CardCode").val("");
            $(".saveInfo").css("display", "block");
            $("#InfoCreditCard").html("");

            var parent = $("#AddNewCardHidden").parent().attr('id');
            $('#' + parent + ' input[type=checkbox]').prop('checked', true);
            $("#AddNewCardHidden").prop('checked', true);
        }
    }
   
     $(document).ready(function () {
        $('input[type=checkbox]').live('click', function () {
            var parent = $(this).parent().attr('id');
            $('#' + parent + ' input[type=checkbox]').removeAttr('checked');
            $(this).attr('checked', 'checked');
        });
    });

    $(document).ready(function () {
        RemoveLeftDiv();
            $('#eu-update-ok').on('click', function () {
                $('#eu-update-bar-notification').hide();
        });
    });

     function RemoveCC(cp, cpp) {
        if (confirm('@T("Common.AreYouSure")')) {
            var postData = {
                cp: cp,
                ccp:cpp
                };
            addAntiForgeryToken(postData);
             $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.Action("InactiveInfo", "Customer")",
                data: postData,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    location.href = data.redirect;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                                        alert('Failed to delete');
                        }
                    });
                }
                return false;
    }

    function checkDigit(event){
        var  str = document.getElementById(event.id).value;
        for (var i = 0; i < str.length; i++) {
            if (isNaN(str.charAt(i))) { //is not number
                document.getElementById(event.id).value = "";
            }
        }
    }

     function removeexternalassociation(itemId) {
                                if (confirm('@T("Common.AreYouSure")')) {
                                    var postData = {
                id: itemId
            };
                            addAntiForgeryToken(postData);
            $.ajax({
                            cache: false,
                type: "POST",
                url: "@Url.Action("RemoveExternalAssociation", "Customer")",
                data: postData,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                                    location.href = data.redirect;
                                },
                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Failed to delete');
                                }
                            });
        }
        return false;
    }

     function deleteCompanyaddress(addressId) {
                                if (confirm('@T("Common.AreYouSure")')) {
                                    var postData = {
                                addressId: addressId
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                            cache: false,
                                type: "POST",
                                url: "@Url.Action("AddressCompanyDelete", "Customer")",
                                data: postData,
                                dataType: "json",
                                success: function (data, textStatus, jqXHR) {
                                    location.href = data.redirect;

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Failed to delete');
                                }
                            });
                        }
    }

     function deletecustomeraddress(addressId) {
                                if (confirm('@T("Common.AreYouSure")')) {
                                    var postData = {
                                addressId: addressId
                            };
                                    addAntiForgeryToken(postData);
                                    var total = $("#totalAddress").val();

                            $.ajax({
                            cache: false,
                                type: "POST",
                                url: "@Url.Action("AddressDelete", "Customer")",
                                data: postData,
                                dataType: "json",
                                success: function (data, textStatus, jqXHR) {
                                    $("#add_" + addressId).remove();
                                    var newtotal = total - 1;

                                    if (newtotal <= 1) {
                                        if (newtotal <= 1) {
                                            location.href = '/customer/addressedit/6388'
                                            $(".removeIcon").addClass("displayNone");
                                        }

                                        if (newtotal < 10 && newtotal > 1) {
                                            $(".add-button").html("");
                                            $(".add-button").append("<a style=\"color:#78909c;float:right;font-weight: bold;cursor:pointer;\" href=\"/customer/addressadd\" value=\"Add new\"> Add Other Address <span class=\"plus-address-mobile\">+</span>  </a>");
                                        }
                                        $("#addMore_" + addressId).removeClass("displayNone");
                                        $("#addMore_" + addressId).css("margin-top", " 12px;");


                                        // location.href = data.redirect;
                                    }
                                    $("#totalAddress").val(newtotal)
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert('Failed to delete');
                                }
                            });
                        }
    }

    $('input[type="checkbox"]').on('change', function () {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    });



    function AddNew () {
    }
</script>

<style>
    .pay-target input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .divcontact {
        margin: 10px 0px;
    }

    @@media (max-width: 800px) {
        .divcontact {
            margin: 10px 10px;
        }
    }
</style>