@model PasswordRecoveryConfirmModel

@using Nop.Core
@inject IWorkContext workContext

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");

    bool isAccountCustomer = false;

    foreach (var rol in workContext.CurrentCustomer.CustomerRoles)
    {
        if (rol.SystemName == "AccountCustomer")
        {
            isAccountCustomer = true;
        }
    }
}

<div class="registration-page-title">
    <h1>@T("Account.Register")</h1>
</div>

<div class="page registration-page confirmpasswordPage">
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="registration-page-subtitle-password">
                        <strong>@Model.Result</strong>
                    </div>
                </div>
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordCreateConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    @*
                    @if (!isAccountCustomer)
                    {
                        <div class="registration-page-subtitle-password">
                            <strong>@T("Account.PasswordCreate")</strong>
                        </div>
                    }
                    *@

                    <div class="registration-page-subtitle-password">
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="registration-page-form-label">
                                    <label asp-for="NewPassword" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <i class="nn- nn-eye field-icon-password password" style="position: absolute;top: 0px;z-index: 100;right: -30px;"></i>
                                <div class="inputs">
                                    <input id="password" asp-for="NewPassword" class="registration-page-form-input" style="width: 350px !important;" maxlength="50" />
                                    <span asp-validation-for="NewPassword"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="registration-page-form-label">
                                    <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <i class="nn- nn-eye field-icon-password confirmpassword" style="position: absolute;top: 0px;z-index: 100;right: -30px;"></i>
                                <div class="inputs">
                                    <input id="confirmpassword" asp-for="ConfirmNewPassword" class="registration-page-form-input" style="width: 350px !important;" maxlength="50" />
                                    <span asp-validation-for="ConfirmNewPassword"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.Register.Button")" />
                </div>
            </form>
        }
    </div>
</div>

<script>
    $(".password").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#password");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $(".confirmpassword").click(function () {
        //$(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#confirmpassword");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
