@model RegisterModel
@inject Nop.Core.IWebHelper webHelper

@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page registration-page">
    <div class="registration-page-title title-general-version-mobile">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <form asp-route="ValidateRegister" id="validateEmail" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="registration-page-subtitle d-none">
                    <strong>@T("account.register.title")</strong>
                </div>

                <div class="form-fields">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="registration-page-form-label">
                                <label asp-for="Email" asp-postfix=":"></label>
                                <nop-required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="inputs">
                                <input asp-for="Email" class="registration-page-form-input" maxlength="100" />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>

                    @if (Model.EnteringEmailTwice)
                    {
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="registration-page-form-label">
                                    <label asp-for="ConfirmEmail" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="inputs">
                                    <input asp-for="ConfirmEmail" maxlength="20" />
                                    <span asp-validation-for="ConfirmEmail"></span>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.UsernamesEnabled)
                    {
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="registration-page-form-label">
                                    <label asp-for="Username" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="inputs">
                                    <input asp-for="Username" />
                                    <span asp-validation-for="Username"></span>
                                    @if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @await Html.PartialAsync("_CheckUsernameAvailability")
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.AccountAlreadyRegister)
                    {
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="registration-page-form-message">
                                    @{ var returnUrl = webHelper.GetRawUrl(Context.Request); }

                                    @if (Model.AccountAlreadyLogin)
                                    {
                                        <strong>@T("account.register.alreadymessage")&nbsp;</strong> <strong><a href="/">@T("Account.Login")</a></strong>
                                    }
                                    else
                                    {
                                        <strong>@T("account.register.alreadymessage")&nbsp;</strong><strong><a href="/Login">@T("Account.Login")</a></strong>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12 col-md-7">
                                <div class="registration-page-form-message">
                                    <strong>@*@T("account.register.message")*@</strong>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.DisplayCaptcha)
                    {
                        <br />
                        <div class="buttons">
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-5 col-lg-3">
                    <div class="buttons">
                        <input type="submit" id="register-button" class="baseButtonRoundedBlue" style="width:100%" value="@T("Account.Register.Button")" />
                    </div>
                </div>
            </div>
            @*<div class="buttons">
                <input type="submit" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
            </div>*@
        </form>
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div>
    </div>
</div>
