@model CompanyModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="CompanyName" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.CompanyName)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="NetsuiteId" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.NetsuiteId)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Balance" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.Balance)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="custentity_tj_exempt_customer " />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.custentity_tj_exempt_customer)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="custentity_tj_exempt_customer_states " />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.custentity_tj_exempt_customer_states)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="PrimaryLocation" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.PrimaryLocation)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Phone" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.Phone)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Terms" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.Terms)</div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="DefaultAddress" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.DefaultAddress)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="EntityStatus" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.EntityStatus)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LastModifiedDate" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.LastModifiedDate)</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="ItemCollection" />
        </div>
        <div class="col-md-9">
            <div class="form-text-row">@Html.Raw(Model.ItemCollection)</div>
        </div>
    </div>

   
</div>
