@model PopularProductTagsModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-tags">
        <div class="title">
            <strong>@T("Products.Tags.Popular")</strong>
        </div>
        <div class="listbox">
            <div class="tags">
                <div class="tag-list-mobile">
                    @{double j = 0;
                    }
                    @foreach (var item in Model.Tags)
                    {
                        var classTag = "BlueTags";
                        if ((j % 2) == 0)
                        {
                            classTag = "redtag";
                        }
                    <a class="tag_color_@j @classTag" href="@Url.RouteUrl("ProductsByTag", new { item.SeName })" style="font-size:.909rem !important;">@item.Name &nbsp;</a>
                        j = j + 1;
                    }
                </div>
                <ul class="tag-list-desktop">
                    @{double i = 0;
                    }
                    @foreach (var item in Model.Tags)
                    {
                        var classTag = "BlueTags";
                        if ((i % 2) == 0)
                        {
                            classTag = "redtag";
                        }
                            <li><a class="tag_color_@i @classTag" href="@Url.RouteUrl("ProductsByTag", new { item.SeName })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name &nbsp;</a></li>

                                i= i + 1;  
                    }
                </ul>
            </div>
            @if (Model.TotalTags > Model.Tags.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}